Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

more cleanup
  code/graphics/vulkan/RenderFrame.cpp
  code/graphics/vulkan/VulkanRenderer.cpp
  code/graphics/vulkan/VulkanRenderer.h
  freespace2/SDLGraphicsOperations.cpp
Owners: none

fix minor issues breaking compilation in CI
  code/graphics/vulkan/VulkanRenderer.cpp
Owners: none

add curl to the gha container
  .github/workflows/build-nightly.yaml
  .github/workflows/build-release.yaml
  .github/workflows/build-standalone.yaml
  .github/workflows/build-test.yaml
  .github/workflows/test-pull_request.yaml
Owners: none

wip
  .github/workflows/test-pull_request.yaml
Owners: none

instead of shipping our own copy of vulkan-hpp, use the one in the official SDK
  code/CMakeLists.txt
  code/cmdline/cmdline.cpp
  code/cmdline/cmdline.h
  code/graphics/2d.cpp
  code/graphics/vulkan/VulkanRenderer.cpp
  code/graphics/vulkan/gr_vulkan.cpp
  code/lab/labv2_internal.h
  code/lab/manager/lab_manager.cpp
  freespace2/SDLGraphicsOperations.cpp
  lib/CMakeLists.txt
  lib/imgui/CMakeLists.txt
  lib/vulkan-hpp/CMakeLists.txt
  lib/vulkan-hpp/vulkan/vk_icd.h
  lib/vulkan-hpp/vulkan/vk_layer.h
  lib/vulkan-hpp/vulkan/vk_platform.h
  lib/vulkan-hpp/vulkan/vk_sdk_platform.h
  lib/vulkan-hpp/vulkan/vulkan.h
  lib/vulkan-hpp/vulkan/vulkan.hpp
  lib/vulkan-hpp/vulkan/vulkan_android.h
  lib/vulkan-hpp/vulkan/vulkan_core.h
  lib/vulkan-hpp/vulkan/vulkan_fuchsia.h
  lib/vulkan-hpp/vulkan/vulkan_ggp.h
  lib/vulkan-hpp/vulkan/vulkan_ios.h
  lib/vulkan-hpp/vulkan/vulkan_macos.h
  lib/vulkan-hpp/vulkan/vulkan_metal.h
  lib/vulkan-hpp/vulkan/vulkan_vi.h
  lib/vulkan-hpp/vulkan/vulkan_wayland.h
  lib/vulkan-hpp/vulkan/vulkan_win32.h
  lib/vulkan-hpp/vulkan/vulkan_xcb.h
  lib/vulkan-hpp/vulkan/vulkan_xlib.h
  lib/vulkan-hpp/vulkan/vulkan_xlib_xrandr.h
Owners: none

cleanup
  .github/workflows/test-pull_request.yaml
Owners: none

remove vulkan references from the lab
  code/lab/labv2_internal.h
  code/lab/manager/lab_manager.cpp
Owners: none

fix the rest of the pipelines
  .github/workflows/build-nightly.yaml
  .github/workflows/build-release.yaml
  .github/workflows/build-test.yaml
Owners: none

pin vulkan version to 1.3.204.0
  .github/workflows/build-nightly.yaml
  .github/workflows/build-release.yaml
  .github/workflows/build-standalone.yaml
  .github/workflows/build-test.yaml
  .github/workflows/test-pull_request.yaml
Owners: none

more compile fixes
  code/graphics/vulkan/VulkanRenderer.cpp
  lib/imgui/CMakeLists.txt
Owners: none

fix missing fall-through in case statement
  code/graphics/vulkan/VulkanRenderer.cpp
Owners: none

make sure the WITH_VULKAN compile time flag is still set
  code/CMakeLists.txt
Owners: none

remove unfinished imgui init
  code/graphics/vulkan/VulkanRenderer.cpp
Owners: none

move vulkan sdk install to similar place in macos pipeline
  .github/workflows/test-pull_request.yaml
Owners: none

x86 builds don't get vulkan
  .github/workflows/build-nightly.yaml
  .github/workflows/build-release.yaml
  .github/workflows/build-test.yaml
  .github/workflows/test-pull_request.yaml
Owners: none

don't build vulkan on macos for now either
  ci/linux/configure_cmake.sh
Owners: @asarium, @z64555

clarified descriptions
  code/ai/aicode.cpp
  code/mission/missionparse.cpp
  code/object/object.cpp
  code/ship/ship.cpp
Owners: none

Update code/sound/audiostr.h
  code/sound/audiostr.h
Owners: none

update versions to apply to post 23.0 nightlies
  code/ai/ai_profiles.cpp
Owners: none

Fix negative child check inversion.
  fred2/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.cpp
Owners: none

typos
  code/mission/missionparse.cpp
  code/ship/ship.cpp
Owners: none

boom chikka const const
  code/libs/discord/discord.cpp
Owners: none

const the header, dummy
  code/libs/discord/discord.h
Owners: none

disable the fog pass when rendering cockpits
  code/graphics/2d.h
  code/graphics/grstub.cpp
  code/graphics/opengl/gropengl.cpp
  code/graphics/opengl/gropengldeferred.cpp
  code/graphics/opengl/gropengldeferred.h
  freespace2/freespace.cpp
Owners: none

Update toolchain-clang.cmake
  cmake/toolchain-clang.cmake
Owners: @asarium

Automated build commit
  version_override.cmake
Owners: none

Fix copy paste error
  code/model/modelreplace.cpp
Owners: none

shut down the imgui SDL backend regardless of graphics API selected
  freespace2/SDLGraphicsOperations.cpp
Owners: none

reduce 3d texture build from O(n^3) to O(n^2)
  code/nebula/volumetrics.cpp
Owners: none

Always to sample buffer assign
  code/nebula/volumetrics.cpp
Owners: none

Add `turret-fired-since` SEXP (#5061)
  code/ai/aiturret.cpp
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/ship/ship.cpp
  code/ship/ship.h
Owners: none

do this as string instead of char array
  code/parse/sexp/LuaSEXP.cpp
Owners: none

remove counting
  code/parse/sexp.cpp
Owners: none

Remove nebula bitmap limit (#5128)
  code/nebula/neb.cpp
  code/nebula/neb.h
  fred2/bgbitmapdlg.cpp
  fred2/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.cpp
Owners: none

Flag to apply hud shudder to chase view (#5145)
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  freespace2/freespace.cpp
Owners: none

disable the fog pass when rendering cockpits (#5208)
  code/graphics/2d.h
  code/graphics/grstub.cpp
  code/graphics/opengl/gropengl.cpp
  code/graphics/opengl/gropengldeferred.cpp
  code/graphics/opengl/gropengldeferred.h
  freespace2/freespace.cpp
Owners: none

unused variable declarations
  code/parse/sexp.cpp
Owners: none

Comment branch types
  qtfred/src/mission/dialogs/CampaignEditorDialogModel.h
Owners: none

remote the last of the old array and actually copy the data into the map
  code/localization/localize.cpp
Owners: none

emplace
  code/localization/localize.cpp
Owners: none

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu
