Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu

Automated build commit
  version_override.cmake
Owners: none

Fix cfread string's handling of null terminated strings (#4583)
  code/cfile/cfile.cpp
  code/cfile/cfile.h
  code/model/modelread.cpp
Owners: none

fixes
  code/ship/ship.cpp
Owners: none

whoops
  code/ship/ship.cpp
Owners: none

add Radius virtvar for objects
  code/scripting/api/objs/object.cpp
Owners: @asarium

Add optional lib
  code/CMakeLists.txt
  code/model/modelreplace.cpp
  code/model/modelreplace.h
  lib/CMakeLists.txt
  lib/optional/CMakeLists.txt
  lib/optional/COPYING
  lib/optional/README.md
  lib/optional/include/tl/optional.hpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Replace modelreplace optionals
  code/model/modelreplace.cpp
  code/model/modelreplace.h
Owners: none

Replace Animation Optional
  code/model/modelanimation.cpp
  code/model/modelanimation.h
  code/model/modelanimation_moveables.cpp
  code/model/modelanimation_moveables.h
  code/model/modelanimation_segments.cpp
  code/model/modelanimation_segments.h
Owners: @bmagnu

rework modelanimationdata constructors
  code/model/modelanimation.h
Owners: @bmagnu

properly encapsulate special flag parsing
  code/globalincs/pstypes.h
  code/parse/parselo.h
  code/weapon/weapon.h
  code/weapon/weapons.cpp
Owners: none

fix supercap immediate warpout
  code/ship/shipfx.cpp
Owners: none

Cleanup Cpp11 mess
  code/parse/parselo.h
Owners: none

Fix missing include in vmallocator.h
  code/globalincs/vmallocator.h
Owners: none

Fixes for Matrix interp
  code/math/vecmat.cpp
  code/math/vecmat.h
  code/network/multi_interpolate.cpp
Owners: none

Prevent closed thread from re-closing
  code/cutscene/player.cpp
Owners: none

Prevent closed thread from re-closing (#4622)
  code/cutscene/player.cpp
Owners: none

typo
  code/physics/physics.h
Owners: none

mistaken comments
  code/ai/aicode.cpp
  code/ship/shipfx.cpp
Owners: none

small fix for banking
  code/math/vecmat.cpp
Owners: none

fix subtitle clipping
  code/camera/camera.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Implement a proper std::optional alternative (#4619)
  code/CMakeLists.txt
  code/model/modelanimation.cpp
  code/model/modelanimation.h
  code/model/modelanimation_moveables.cpp
  code/model/modelanimation_moveables.h
  code/model/modelanimation_segments.cpp
  code/model/modelanimation_segments.h
  code/model/modelreplace.cpp
  code/model/modelreplace.h
  lib/CMakeLists.txt
  lib/optional/CMakeLists.txt
  lib/optional/COPYING
  lib/optional/README.md
  lib/optional/include/tl/optional.hpp
Owners: @bmagnu

Slight API naming adjustment
  code/scripting/api/objs/briefing.cpp
Owners: @asarium

Default-enable inheriting damage type in mods targeting 22.4+.
  code/mod_table/mod_table.cpp
Owners: none

rotational interpolation
  code/math/vecmat.cpp
  code/math/vecmat.h
  code/scripting/api/objs/vecmath.cpp
Owners: @asarium

Automated build commit
  version_override.cmake
Owners: none

small fix for banking (#4624)
  code/math/vecmat.cpp
Owners: none

Automatic thruster activation (#4617)
  code/ship/ship.cpp
Owners: none

added new content
  Readme.md
Owners: none

check if the current lab object is actually a ship before trying to destroy it
  code/lab/dialogs/actions.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

add more timestamp documentation
  code/io/timer.h
Owners: none

when resetting stats before replaying a mission, check the rank table to see which rank the player should be
  code/pilotfile/pilotfile.cpp
Owners: none

properly account for string sizes in debrief_choose_voice
  code/missionui/missiondebrief.cpp
Owners: none

merge updates
  code/ship/ship.cpp
Owners: none

Add maneuvering thruster easing (#4623)
  code/ai/aicode.cpp
  code/hud/hud.cpp
  code/lab/renderer/lab_renderer.cpp
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/observer/observer.cpp
  code/physics/physics.cpp
  code/physics/physics.h
  code/scripting/api/objs/physics_info.cpp
  code/ship/ship.cpp
  code/ship/shipfx.cpp
Owners: @asarium

Automated build commit
  version_override.cmake
Owners: none

Move some things around to avoid potentially undefined values
  code/hud/hudtarget.cpp
Owners: none

Removed unused variable that was added just for testing
  code/hud/hudtarget.cpp
Owners: none
