Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

Remove duplicate.
  code/lighting/lighting.cpp
Owners: none

keep MSVC happy
  code/lighting/lighting_profiles.cpp
Owners: none

convert event-related timestamps to new system
  code/mission/missiongoals.cpp
  code/mission/missiongoals.h
  code/mission/missiontraining.cpp
  code/network/multimsgs.cpp
  code/parse/sexp.cpp
Owners: none

this flag deserves its own commit
  code/mission/missiongoals.cpp
  code/mission/missiongoals.h
Owners: none

Properly encapsulate special flag parsing (#4620)
  code/globalincs/pstypes.h
  code/globalincs/vmallocator.h
  code/parse/parselo.h
  code/weapon/weapon.h
  code/weapon/weapons.cpp
Owners: none

update
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/briefing.cpp
Owners: @asarium

Automated build commit
  version_override.cmake
Owners: none

Fix objnum valid check
  code/model/modelanimation_segments.cpp
Owners: @bmagnu

Add special flag to animations
  code/model/modelanimation.cpp
  code/model/modelanimation.h
Owners: @bmagnu

Add Seamless with startup animation mode
  code/model/modelanimation.cpp
  code/model/modelanimation.h
Owners: @bmagnu

Add flag safeguard
  code/model/modelanimation.cpp
Owners: @bmagnu

﻿API version of the briefing map
  code/missionui/missionbrief.cpp
  code/missionui/missionbrief.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/briefing.cpp
Owners: @asarium

Cleanup
  code/missionui/missionbrief.cpp
Owners: none

Further cleanup
  code/missionui/missionbrief.cpp
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/briefing.cpp
Owners: @asarium

﻿# This is a combination of 2 commits.
  code/mission/missionbriefcommon.cpp
  code/mission/missionbriefcommon.h
  code/missionui/missionbrief.cpp
  code/missionui/missionbrief.h
  code/scripting/api/libs/ui.cpp
Owners: @asarium

Fix documentation
  code/scripting/api/libs/ui.cpp
Owners: @asarium

implement initBriefing and rearrange map drawing methods to match.
  code/mission/missionbriefcommon.cpp
  code/scripting/api/libs/ui.cpp
Owners: @asarium

Documentation
  code/scripting/api/objs/briefing.cpp
Owners: @asarium

Prevent multiple instances of evaluated debrief sexps
  code/missionui/missiondebrief.cpp
Owners: none

Fix Animation 3D Sound (#4658)
  code/model/modelanimation_segments.cpp
  code/model/modelanimation_segments.h
Owners: @bmagnu

Properly set flag
  code/model/modelanimation.cpp
Owners: @bmagnu

Fix smart spawn flag
  code/weapon/weapons.cpp
Owners: none

Fix smart spawn flag (#4662)
  code/weapon/weapons.cpp
Owners: none

use queued rendering instead of immediate rendering for scripts
  code/object/object.cpp
  code/scripting/api/libs/graphics.cpp
  code/scripting/api/libs/graphics.h
Owners: @asarium

Add SpawnShipCheat and convert Bravos spawning to it
  code/io/keycontrol.cpp
Owners: none

Move some stuff to parent CustomCheat class
  code/io/keycontrol.cpp
Owners: none

Clean-up and add canUseCheat() check
  code/io/keycontrol.cpp
Owners: none

Add cheat-used SEXP and On Cheat scripting hook
  code/io/key.cpp
  code/io/key.h
  code/io/keycontrol.cpp
  code/parse/sexp.cpp
  code/parse/sexp.h
  freespace2/freespace.cpp
Owners: none

Clean-up and formatting
  code/cheats_table/cheats_table.cpp
  code/cheats_table/cheats_table.h
  code/io/keycontrol.cpp
Owners: none

Add cheat tbls and tbms, fix custom cheat detection, move cheat hooks to global hooks
  code/cheats_table/cheats_table.cpp
  code/cheats_table/cheats_table.h
  code/io/keycontrol.cpp
  code/scripting/global_hooks.cpp
  code/scripting/global_hooks.h
  code/source_groups.cmake
  freespace2/freespace.cpp
Owners: @asarium

Initialize buffers with memset so clang will calm down, also move cheat check a bit to keep old cheats
  code/cheats_table/cheats_table.cpp
  code/io/keycontrol.cpp
Owners: none

Attempt to appease MSVC
  code/cheats_table/cheats_table.cpp
Owners: none

Ensure custom cheats fit in the cheat code buffer
  code/cheats_table/cheats_table.cpp
  code/cheats_table/cheats_table.h
  code/io/keycontrol.cpp
Owners: none

Add a default virtual destructor to CustomCheats for its derived classes to use
  code/cheats_table/cheats_table.h
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Add corrections in multi ship record
  code/network/multi_interpolate.cpp
  code/network/multi_interpolate.h
  code/network/multi_obj.cpp
  code/network/multi_obj.h
  code/network/multi_time_manager.h
  code/object/object.cpp
Owners: none

Fix subsystem change handling code
  code/network/multi_interpolate.h
  code/network/multi_obj.cpp
  code/object/object.cpp
  code/ship/ship.cpp
Owners: none

Add optional deferred lighting pass for cockpits (#3445)
  code/cmdline/cmdline.cpp
  code/cmdline/cmdline.h
  code/graphics/2d.h
  code/graphics/grstub.cpp
  code/graphics/opengl/gropengldeferred.cpp
  code/graphics/opengl/gropengldeferred.h
  code/graphics/shadows.cpp
  code/graphics/shadows.h
  code/graphics/uniforms.cpp
  code/graphics/vulkan/vulkan_stubs.cpp
  code/object/objectsort.cpp
  code/ship/ship.cpp
Owners: none

add stopLoopingSubmodelAnimation
  code/scripting/api/objs/ship.cpp
Owners: @asarium

lighting followup
  code/starfield/starfield.cpp
Owners: none

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu
