Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu

These go here
  code/source_groups.cmake
Owners: none

Move RenameSubobjects to new API
  code/model/modelreplace.cpp
  code/model/modelreplace.h
Owners: none

Fix and tidyup
  code/model/modelreplace.cpp
Owners: none

Fix GCC error
  code/model/modelreplace.cpp
Owners: none

fix macro
  code/model/modelreplace.cpp
Owners: none

Appease Clang
  code/model/modelreplace.cpp
Owners: none

Properly skip reading non-final leaves from the cache
  code/model/modelreplace.cpp
Owners: none

fix warning
  code/model/modelreplace.cpp
Owners: none

These go here (#4689)
  code/source_groups.cmake
Owners: none

Update max priority for scripting AIgoals (#4685)
  code/scripting/api/objs/ship.cpp
Owners: @asarium

Allow modifying map container data when the map is an argument (#4683)
  code/parse/sexp_container.cpp
Owners: none

Allow API to optionally not start the next mission. (#4679)
  code/scripting/api/libs/ui.cpp
Owners: @asarium

allow an arbitrary number of flag arguments
  code/scripting/api/objs/parse_object.cpp
  code/scripting/api/objs/ship.cpp
Owners: @asarium

make autodoc happy
  code/scripting/api/objs/parse_object.cpp
  code/scripting/api/objs/ship.cpp
Owners: @asarium

comment fix
  code/cmdline/cmdline.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

nullptr
  code/missionui/missionbrief.cpp
  code/scripting/api/libs/ui.cpp
Owners: @asarium

update ship flags
  code/parse/sexp.cpp
  code/ship/ship.cpp
Owners: none

-luadev flag and lua log filter (#4681)
  code/cmdline/cmdline.cpp
  code/cmdline/cmdline.h
  code/osapi/dialogs.cpp
  code/osapi/outwnd.cpp
  code/scripting/api/libs/base.cpp
Owners: @asarium

Give Lua access to the select anims and images (#4687)
  code/scripting/api/objs/shipclass.cpp
  code/scripting/api/objs/weaponclass.cpp
Owners: @asarium

Fix multi lib
  code/scripting/lua.cpp
Owners: @asarium

Fix multi lib (#4692)
  code/scripting/lua.cpp
Owners: @asarium

Loadout wing API (+4 squashed commit)
  code/missionui/missionshipchoice.cpp
  code/missionui/missionshipchoice.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/shipwepselect.cpp
  code/scripting/api/objs/shipwepselect.h
  code/source_groups.cmake
Owners: @asarium

Cleanup
  code/scripting/api/objs/shipwepselect.h
Owners: @asarium

unused parameter
  code/scripting/api/libs/ui.cpp
Owners: @asarium

Swap order
  code/scripting/api/objs/shipwepselect.h
Owners: @asarium

a few more script enhancements
  code/parse/sexp.cpp
  code/scripting/api/objs/model.cpp
  code/scripting/api/objs/ship.cpp
  code/scripting/api/objs/subsystem.cpp
  code/ship/ship.cpp
Owners: @asarium

Automated build commit
  version_override.cmake
Owners: none

Scpui api briefing map (#4656)
  code/mission/missionbriefcommon.cpp
  code/mission/missionbriefcommon.h
  code/missionui/missionbrief.cpp
  code/missionui/missionbrief.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/briefing.cpp
Owners: @asarium

Safe-stringify, incorporate comments
  code/globalincs/safe_strings.h
  code/model/modelreplace.cpp
  code/sound/speech.cpp
  code/sound/voicerec.cpp
Owners: none

return invalid handle
  code/scripting/api/libs/ui.cpp
Owners: @asarium

Update ui.cpp
  code/scripting/api/libs/ui.cpp
Owners: @asarium

logic error fix - update envMatrix even if there's no specmap
  code/graphics/uniforms.cpp
Owners: none

Unify the two forms of default filters and consolidate the new lua category into the existing default scripting category
  code/osapi/dialogs.cpp
  code/osapi/outwnd.cpp
  code/scripting/api/libs/base.cpp
Owners: @asarium

Prevent dangling threads from crashing FSO on close
  code/scripting/lua/LuaThread.cpp
  code/scripting/lua/LuaThread.h
Owners: @asarium

Fix warning
  code/scripting/lua/LuaThread.cpp
Owners: @asarium

logic error fix - update envMatrix even if there's no specmap (#4699)
  code/graphics/uniforms.cpp
Owners: none

upgrade controls code to use type-safe timestamps
  code/controlconfig/controlsconfig.cpp
  code/controlconfig/controlsconfig.h
  code/controlconfig/controlsconfigcommon.cpp
  code/parse/sexp.cpp
  fred2/fredstubs.cpp
  freespace2/freespace.cpp
  freespace2/freespace.h
  qtfred/src/fredstubs.cpp
  test/src/test_stubs.cpp
Owners: @z64555

Unify default filters and consolidate the new lua category
  code/osapi/dialogs.cpp
  code/osapi/outwnd.cpp
  code/scripting/api/libs/base.cpp
Owners: @asarium

Automated build commit
  version_override.cmake
Owners: none
