Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu

Cleanup Fiction, Red Alert, and Loop Brief based on feedback on other PRs
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/fictionviewer.cpp
  code/scripting/api/objs/fictionviewer.h
  code/scripting/api/objs/loop_brief.cpp
  code/scripting/api/objs/loop_brief.h
  code/scripting/api/objs/redalert.cpp
  code/scripting/api/objs/redalert.h
Owners: @asarium

SCPUI API elements required for the Briefing (#4602)
  code/scpui/elements/ScrollingTextElement.cpp
  code/scpui/elements/ScrollingTextElement.h
  code/scripting/api/libs/mission.cpp
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/briefing.cpp
  code/scripting/api/objs/briefing.h
  code/source_groups.cmake
Owners: @asarium

Automated build commit
  version_override.cmake
Owners: none

Scripting functions required for SCPUI conversion of all four Tech Room UIs (#4591)
  code/menuui/credits.cpp
  code/menuui/credits.h
  code/menuui/readyroom.cpp
  code/menuui/readyroom.h
  code/missionui/missionscreencommon.cpp
  code/missionui/missionscreencommon.h
  code/scripting/api/libs/mission.cpp
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/techroom.cpp
  code/scripting/api/objs/techroom.h
  code/source_groups.cmake
Owners: @asarium

Change cmd_briefing API to reference from copy (#4646)
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/cmd_brief.cpp
  code/scripting/api/objs/cmd_brief.h
Owners: @asarium

Cleanup Fiction, Red Alert, and Loop Brief based on feedback on other PRs (#4649)
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/fictionviewer.cpp
  code/scripting/api/objs/fictionviewer.h
  code/scripting/api/objs/loop_brief.cpp
  code/scripting/api/objs/loop_brief.h
  code/scripting/api/objs/redalert.cpp
  code/scripting/api/objs/redalert.h
Owners: @asarium

unused var check
  code/starfield/starfield.cpp
Owners: none

improve huge_fire_info lookup
  code/ai/aicode.cpp
  code/ship/ship.cpp
  code/ship/ship.h
Owners: none

Crossing the specular rubicon (#4302)
  code/cmdline/cmdline.cpp
  code/cmdline/cmdline.h
  code/def_files/data/effects/deferred-f.sdr
  code/def_files/data/effects/deferred-v.sdr
  code/def_files/data/effects/main-f.sdr
  code/def_files/data/effects/main-g.sdr
  code/def_files/data/effects/main-v.sdr
  code/graphics/decal_draw_list.cpp
  code/graphics/light.cpp
  code/graphics/light.h
  code/graphics/opengl/gropengldeferred.cpp
  code/graphics/uniforms.cpp
  code/graphics/util/uniform_structs.h
  code/lab/dialogs/render_options.cpp
  code/lab/renderer/lab_renderer.h
  code/lighting/lighting.cpp
  code/lighting/lighting.h
  code/lighting/lighting_profiles.cpp
  code/lighting/lighting_profiles.h
  code/menuui/techmenu.cpp
  code/missionui/missionbrief.cpp
  code/missionui/missionscreencommon.cpp
  code/missionui/missionscreencommon.h
  code/missionui/missionweaponchoice.cpp
  code/model/modelinterp.cpp
  code/model/modelrender.cpp
  code/scripting/api/objs/shipclass.cpp
  code/starfield/starfield.cpp
Owners: @asarium

Automated build commit
  version_override.cmake
Owners: none

address feedback
  code/globalincs/pstypes.h
  code/parse/parselo.h
  code/weapon/weapons.cpp
Owners: none

Converted warning to log message as the data is just ignored
  code/starfield/starfield.cpp
Owners: none

Add options to enable animation sound to actually be 3D
  code/model/modelanimation_segments.cpp
  code/model/modelanimation_segments.h
Owners: @bmagnu

Implemented a command line flag that forces a fixed RNG seed, (#4599)
  code/cmdline/cmdline.cpp
  freespace2/freespace.cpp
Owners: none

Fix typo
  code/model/modelanimation_segments.cpp
Owners: @bmagnu

additional polishing of the briefing API
  code/missionui/missionbrief.cpp
  code/scripting/api/libs/graphics.cpp
  code/scripting/api/libs/mission.cpp
  code/scripting/api/libs/testing.cpp
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/briefing.cpp
  code/scripting/api/objs/briefing.h
  code/scripting/api/objs/control_info.cpp
Owners: @asarium

﻿debriefing api access
  code/gamesnd/gamesnd.h
  code/missionui/missiondebrief.cpp
  code/missionui/missiondebrief.h
  code/scripting/api/libs/mission.cpp
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/debriefing.cpp
  code/scripting/api/objs/debriefing.h
  code/scripting/api/objs/player.cpp
  code/source_groups.cmake
  freespace2/freespace.cpp
Owners: @asarium

Some cleanup
  code/gamesnd/gamesnd.h
  code/missionui/missiondebrief.cpp
  code/scripting/api/libs/ui.cpp
Owners: @asarium

Remove unreachable code
  code/missionui/missiondebrief.cpp
Owners: none

Address feedback
  code/gamesnd/gamesnd.h
  code/scripting/api/libs/mission.cpp
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/debriefing.cpp
  freespace2/freespace.cpp
Owners: @asarium

Return this exactly to previous state
  freespace2/freespace.cpp
Owners: none

Address feedback
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/debriefing.cpp
  code/scripting/api/objs/debriefing.h
Owners: @asarium

Compare pointer to nullptr instead of 0
  code/scripting/api/objs/debriefing.cpp
Owners: @asarium

Address feedback
  code/scripting/api/libs/mission.cpp
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/debriefing.cpp
  code/scripting/api/objs/player.cpp
Owners: @asarium

cleanup includes
  code/scripting/api/libs/ui.cpp
Owners: @asarium

Documentation and a small optimisation.
  code/def_files/data/effects/deferred-f.sdr
Owners: none

Attached reasonabled defaults to the new source radius settings
  code/graphics/light.cpp
  code/graphics/opengl/gropengldeferred.cpp
  code/graphics/util/uniform_structs.h
  code/object/object.cpp
  code/weapon/beam.cpp
Owners: none

Actually fix lighting error (and document)
  code/def_files/data/effects/deferred-f.sdr
Owners: none

Clamp beam length to prevent light from going past start/end points.
  code/def_files/data/effects/deferred-f.sdr
Owners: none

Initial work for lights with adjustable emitter size and tube rendering.
  code/def_files/data/effects/deferred-f.sdr
  code/def_files/data/effects/lighting.sdr
  code/def_files/data/effects/main-f.sdr
Owners: none

adjusted the width of beam light cores
  code/weapon/beam.cpp
Owners: none

Adjusted fireball sizing
  code/object/object.cpp
Owners: none

Switched to default size zero light emitters
  code/lighting/lighting.cpp
  code/lighting/lighting.h
Owners: none

Adding configurable source radius to the lighting data and uniforms
  code/def_files/data/effects/deferred-f.sdr
  code/def_files/data/effects/deferred-v.sdr
  code/def_files/data/effects/main-f.sdr
  code/def_files/data/effects/main-g.sdr
  code/def_files/data/effects/main-v.sdr
  code/graphics/light.cpp
  code/graphics/util/uniform_structs.h
  code/lighting/lighting.cpp
  code/lighting/lighting.h
  code/model/modelrender.cpp
Owners: none

Factor out spherelight calcs, fix lighting error when inside spherelight
  code/def_files/data/effects/deferred-f.sdr
Owners: none

Fixes retail UI crash when campaign missions are selected in simulator
  code/menuui/readyroom.cpp
Owners: none

Adding configurable source radius to the lighting data and uniforms
  code/lighting/lighting.cpp
  code/lighting/lighting.h
Owners: none

Switched to default size zero light emitters
  code/lighting/lighting.cpp
  code/lighting/lighting.h
Owners: none

Add default brightness profile adjust and retune the techroom rendering appropriately.
  code/lighting/lighting_profiles.cpp
  code/missionui/missionscreencommon.cpp
Owners: none

fix ambient lighting to match
  code/lighting/lighting_profiles.cpp
  code/missionui/missionscreencommon.cpp
Owners: none
