Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu

Update video shader and add alpha controls to VideoPresenter API
  code/cutscene/VideoPresenter.cpp
  code/cutscene/VideoPresenter.h
  code/cutscene/player.cpp
  code/cutscene/player.h
  code/def_files/data/effects/video-f.sdr
  code/graphics/2d.h
  code/graphics/material.cpp
  code/graphics/material.h
  code/graphics/opengl/gropenglshader.cpp
  code/graphics/opengl/gropengltnl.cpp
  code/graphics/util/UniformBufferManager.cpp
  code/graphics/util/uniform_structs.h
  code/scripting/api/objs/movie_player.cpp
Owners: @asarium

Fix a merge mistake
  code/parse/sexp.h
Owners: none

Remove alpha conditional check in VideoPresenter
  code/cutscene/VideoPresenter.cpp
Owners: none

Virtvar -> Func
  code/scripting/api/objs/debriefing.cpp
Owners: @asarium

add -dualscanlines as a HUD config option
  code/hud/hudparse.cpp
  code/hud/hudtargetbox.cpp
  code/hud/hudtargetbox.h
Owners: none

add disco scan lines
  code/hud/hudparse.cpp
  code/hud/hudtargetbox.cpp
  code/hud/hudtargetbox.h
Owners: none

semi-deprecate dualscanlines, and put the default option in the 'else' block
  code/cmdline/cmdline.cpp
  code/hud/hudparse.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Incorporate Feedback
  code/model/modelanimation.cpp
  code/model/modelanimation.h
Owners: @bmagnu

a couple of animation fixes
  code/model/modelanimation.cpp
Owners: @bmagnu

a couple of animation fixes (#4673)
  code/model/modelanimation.cpp
Owners: @bmagnu

Automated build commit
  version_override.cmake
Owners: none

Add absolute translation
  code/model/modelanimation_segments.cpp
  code/model/modelanimation_segments.h
Owners: @bmagnu

Fix returning int when bool expected
  code/scripting/api/libs/mission.cpp
Owners: @asarium

Fix VS Warning
  code/ship/ship.cpp
Owners: none

individually cast
  code/ship/ship.cpp
Owners: none

cleaner fix
  code/ship/ship.cpp
Owners: none

Allows to not automatically (re)start the mission upon selection
  code/scripting/api/libs/ui.cpp
Owners: @asarium

Instead of forcing start mission or mainhall, let the scripter decide the latter
  code/scripting/api/libs/ui.cpp
Owners: @asarium

Allow API to optionally not start the next mission.
  code/scripting/api/libs/ui.cpp
Owners: @asarium

This needs to be reversed to return the expected value
  code/scripting/api/libs/mission.cpp
Owners: @asarium

Fix VS Warning (#4676)
  code/ship/ship.cpp
Owners: none

Adds new default 'lua' filter category for all lua errors and output Adds -luadev flag that currently only makes lua errors non-fatal.
  code/cmdline/cmdline.cpp
  code/cmdline/cmdline.h
  code/osapi/dialogs.cpp
  code/osapi/outwnd.cpp
  code/scripting/api/libs/base.cpp
Owners: @asarium

Add isInMission and always return getMissionTime
  code/scripting/api/libs/mission.cpp
Owners: @asarium

documentation
  code/scripting/api/libs/mission.cpp
Owners: @asarium

false -> true
  code/scripting/api/libs/ui.cpp
Owners: @asarium

nullptr while I'm here
  code/scripting/api/libs/mission.cpp
Owners: @asarium

Correcting unreachable code.
  code/osapi/dialogs.cpp
Owners: none

explicit bool
  code/scripting/api/libs/mission.cpp
Owners: @asarium

allow modifying map container data when the map is an argument
  code/parse/sexp_container.cpp
Owners: none

skip past an invalid map key, avoid infinite loop
  code/parse/sexp_container.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

cleanup submodel index replacement
  code/model/model.h
  code/model/modelreplace.cpp
  code/model/modelreplace.h
Owners: none

Update max priority for scripting AIgoals
  code/scripting/api/objs/ship.cpp
Owners: @asarium

Add modelreplace cache
  code/model/model.h
  code/model/modelinterp.cpp
  code/model/modelread.cpp
  code/model/modelreplace.cpp
  code/model/modelreplace.h
Owners: none

Give Lua access to the select anims and images
  code/scripting/api/objs/shipclass.cpp
  code/scripting/api/objs/weaponclass.cpp
Owners: @asarium

Missed a halting code path for luadevmode
  code/scripting/api/libs/base.cpp
Owners: @asarium

fix cargo scan type parsing
  code/hud/hudparse.cpp
Owners: none

add setFlag and getFlag for ships and parse objects
  code/scripting/api/objs/parse_object.cpp
  code/scripting/api/objs/ship.cpp
Owners: @asarium

add ParsedShips indexer and update terminology
  code/scripting/api/libs/mission.cpp
  code/scripting/api/objs/parse_object.cpp
Owners: @asarium
