Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

transition to more orderly internal structure and implement exceptions on bad access
  code/globalincs/pool.h
  test/src/globalincs/test_pool.cpp
Owners: none

update the .mako file for release posts (#5118)
  ci/post/release.mako
Owners: @asarium, @z64555

Automated build commit
  version_override.cmake
Owners: none

toggle auto-assigning personas
  code/mission/missionmessage.cpp
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
Owners: none

Add hidapi lib
  code/CMakeLists.txt
  lib/CMakeLists.txt
  lib/hidapi/AUTHORS.txt
  lib/hidapi/CMakeLists.txt
  lib/hidapi/LICENSE-orig.txt
  lib/hidapi/VERSION
  lib/hidapi/hidapi/hidapi.h
  lib/hidapi/libusb/.gitignore
  lib/hidapi/libusb/CMakeLists.txt
  lib/hidapi/libusb/hid.c
  lib/hidapi/libusb/hidapi_libusb.h
  lib/hidapi/linux/.gitignore
  lib/hidapi/linux/CMakeLists.txt
  lib/hidapi/linux/hid.c
  lib/hidapi/mac/.gitignore
  lib/hidapi/mac/CMakeLists.txt
  lib/hidapi/mac/hid.c
  lib/hidapi/mac/hidapi_darwin.h
  lib/hidapi/pc/.gitignore
  lib/hidapi/pc/hidapi-hidraw.pc.in
  lib/hidapi/pc/hidapi-libusb.pc.in
  lib/hidapi/pc/hidapi.pc.in
  lib/hidapi/src/CMakeLists.txt
  lib/hidapi/src/cmake/hidapi-config.cmake.in
  lib/hidapi/windows/.gitignore
  lib/hidapi/windows/CMakeLists.txt
  lib/hidapi/windows/hid.c
  lib/hidapi/windows/hidapi.rc
  lib/hidapi/windows/hidapi_cfgmgr32.h
  lib/hidapi/windows/hidapi_hidclass.h
  lib/hidapi/windows/hidapi_hidpi.h
  lib/hidapi/windows/hidapi_hidsdi.h
  lib/hidapi/windows/hidapi_winapi.h
Owners: @asarium

Add Spacemouse Interface
  code/io/spacemouse.cpp
  code/io/spacemouse.h
  code/source_groups.cmake
Owners: none

Integrate HID API
  code/io/spacemouse.cpp
  code/io/spacemouse.h
  code/math/vecmat.h
Owners: none

Implement basic 3dconnexion hid protocol
  code/io/spacemouse.cpp
  code/io/spacemouse.h
Owners: none

FRED Spacemouse integration
  code/io/spacemouse.cpp
  code/io/spacemouse.h
  code/math/vecmat.h
  fred2/fredrender.cpp
Owners: none

QtFRED support
  qtfred/src/mission/EditorViewport.cpp
Owners: none

Increase polling
  fred2/fredrender.cpp
Owners: none

Wireless resetting
  code/io/spacemouse.cpp
Owners: none

Fix assertion
  code/io/spacemouse.cpp
Owners: none

More devices
  code/io/spacemouse.cpp
Owners: none

Linux Build Options for HIDAPI
  lib/hidapi/CMakeLists.txt
Owners: none

Add nonlinear scalings
  code/io/spacemouse.cpp
  code/io/spacemouse.h
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  fred2/fredrender.cpp
  qtfred/src/mission/EditorViewport.cpp
Owners: none

QtFRED polling frequency
  qtfred/src/mission/EditorViewport.cpp
Owners: none

Linux Build Options for HIDAPI 2
  lib/CMakeLists.txt
Owners: none

Fix GCC
  code/mod_table/mod_table.cpp
Owners: none

Fix out-of-focus control
  code/io/spacemouse.cpp
Owners: none

Resolve Type Aliasing
  code/io/spacemouse.cpp
Owners: none

first set of feedback implementations
  code/globalincs/pool.h
Owners: none

second set
  code/globalincs/pool.h
Owners: none

applying this change in the correct branch
  code/globalincs/pool.h
Owners: none

ADding proper launcher documentation for some of my recent flags
  code/cmdline/cmdline.cpp
Owners: none

handle qtFRED ui also
  qtfred/src/ui/dialogs/EventEditorDialog.cpp
Owners: none

don't blast no-collide objects
  code/asteroid/asteroid.cpp
  code/parse/sexp.cpp
  code/ship/ship.cpp
  code/weapon/shockwave.cpp
  code/weapon/weapons.cpp
Owners: none

Remove nebula bitmap limit
  code/nebula/neb.cpp
  code/nebula/neb.h
  fred2/bgbitmapdlg.cpp
  fred2/sexp_tree.cpp
Owners: none

FRED bounds check and qtFRED
  fred2/bgbitmapdlg.cpp
  qtfred/src/ui/widgets/sexp_tree.cpp
Owners: none

remove length checks
  fred2/bgbitmapdlg.cpp
  fred2/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.cpp
Owners: none

Move these checkes into asteroid.cpp
  code/asteroid/asteroid.cpp
  code/parse/sexp.cpp
Owners: none

better account for changing gravity
  code/object/objcollide.cpp
  code/object/objcollide.h
  code/parse/sexp.cpp
  code/scripting/api/libs/mission.cpp
Owners: @asarium

let passive fields wrap if gravity is involved
  code/asteroid/asteroid.cpp
Owners: none

use `obj_used_list`
  code/object/objcollide.cpp
Owners: none

check should_be_dead
  code/object/objcollide.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Allow negative number in event editor (#5106)
  fred2/eventeditor.cpp
  fred2/eventeditor.h
  fred2/fred.rc
  qtfred/src/ui/dialogs/EventEditorDialog.cpp
Owners: none

lua method to multiply two orientations
  code/scripting/api/libs/base.cpp
Owners: @asarium

Automated build commit
  version_override.cmake
Owners: none

Improve handling of failure to find spawn weapons (#5111)
  code/weapon/weapon.h
  code/weapon/weapons.cpp
Owners: none

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu
