Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu

Animate More Things (#4936)
  code/mission/missionparse.cpp
  code/mission/missionparse.h
  code/model/modelanimation.cpp
  code/model/modelanimation.h
  code/object/object.cpp
  code/parse/sexp.cpp
  code/scripting/api/libs/mission.cpp
  code/scripting/api/objs/animation_handle.cpp
  code/scripting/api/objs/animation_handle.h
  code/scripting/api/objs/ship.cpp
  code/ship/ship.cpp
  code/ship/ship.h
  code/source_groups.cmake
  code/starfield/starfield.cpp
  fred2/missionsave.cpp
  freespace2/freespace.cpp
  qtfred/src/mission/missionsave.cpp
Owners: @bmagnu, @asarium

Automated build commit
  version_override.cmake
Owners: none

Properly init cockpit_model_instance to -1
  code/ship/ship.cpp
Owners: none

Properly init cockpit_model_instance to -1 (#4966)
  code/ship/ship.cpp
Owners: none

address feedback
  code/ship/ship.cpp
Owners: none

Mod Table Settings for Arc Widths
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/model/modelrender.cpp
Owners: none

clang
  code/model/modelrender.cpp
Owners: none

fix copy paste error from #2053
  code/model/modelrender.cpp
Owners: none

custom colors for passive lightning
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/model/model.h
  code/model/modelread.cpp
  code/model/modelrender.cpp
  code/ship/ship.cpp
  code/ship/ship.h
  code/ship/shipfx.cpp
Owners: none

initialize member variables and apparently this can't be nullptr
  code/model/model.h
  code/model/modelrender.cpp
Owners: none

Small bugfix
  code/ship/shipfx.cpp
Owners: none

fix a crash when the Knossos explodes in A Flaming Sword
  code/object/object.cpp
Owners: none

clean up mission_do_departure
  code/ai/aicode.cpp
  code/mission/missionparse.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Make sure custom_data is properly cleared or carried over when shipclass info is reset or cloned/moved
  code/ship/ship.cpp
Owners: none

move @ removal up
  code/ship/ship.cpp
  code/weapon/weapons.cpp
Owners: none

three lines for this short comment is silly
  code/ship/ship.cpp
  code/weapon/weapons.cpp
Owners: none

enhance sendMessage to allow messages sent from ships
  code/scripting/api/libs/mission.cpp
  code/scripting/api/objs/ship.cpp
Owners: @asarium

move player-is-cheating to the correct category
  code/parse/sexp.h
Owners: none

fixes
  code/def_files/data/effects/decal-f.sdr
  code/object/collideshipweapon.cpp
Owners: none

custom colors for passive lightning (#4969)
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/model/model.h
  code/model/modelread.cpp
  code/model/modelrender.cpp
  code/ship/ship.cpp
  code/ship/ship.h
  code/ship/shipfx.cpp
Owners: none

tab cleanup
  code/model/modelrender.cpp
Owners: none

whitespace cleanup 2
  code/mod_table/mod_table.cpp
Owners: none

same for type ship and damage
  code/model/modelrender.cpp
Owners: none

add changeable formation flying
  code/parse/sexp.cpp
  code/parse/sexp.h
  fred2/sexp_tree.cpp
  fred2/sexp_tree.h
  qtfred/src/ui/widgets/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.h
Owners: none

Some code clarity
  code/mission/missionbriefcommon.cpp
Owners: none

Only setup display name if it's empty
  code/asteroid/asteroid.cpp
Owners: none

Use define instead of magic numbers
  code/asteroid/asteroid.cpp
  code/asteroid/asteroid.h
Owners: none

Ensure asteroid types get the correct spawn weight
  code/asteroid/asteroid.cpp
Owners: none

Warn if spawn weight is set for asteroid type
  code/asteroid/asteroid.cpp
Owners: none

typo
  code/asteroid/asteroid.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Expose decal options useful for modders (#4957)
  code/decals/decals.cpp
  code/decals/decals.h
  code/def_files/data/effects/decal-f.sdr
  code/object/collideshipweapon.cpp
  code/scripting/api/libs/tables.cpp
Owners: @asarium

Mod Table Settings for Arc Widths (#4967)
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/model/modelrender.cpp
Owners: none

do correct math at parse
  code/weapon/weapons.cpp
Owners: none

do correct math at parse (#4979)
  code/weapon/weapons.cpp
Owners: none

pre parse icons to get an accurate count (#4925)
  code/mission/missionbriefcommon.cpp
  code/mission/missionbriefcommon.h
Owners: none

Exposes wing formation scale and name via scripting
  code/scripting/api/objs/wing.cpp
Owners: @asarium

Correctly handle asteroid split types
  code/asteroid/asteroid.cpp
  code/asteroid/asteroid.h
Owners: none

iiiiiiiiiiiiiiiiiint
  code/asteroid/asteroid.cpp
Owners: none
