Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

Allow just checking the ship and not banks
  code/scripting/api/objs/shipclass.cpp
Owners: @asarium

﻿# This is a combination of 2 commits.
  code/scripting/api/objs/shipclass.cpp
Owners: @asarium

We don't need these
  code/scripting/api/objs/shipclass.cpp
Owners: @asarium

﻿get default weapons for each bank
  code/scripting/api/objs/shipclass.cpp
Owners: @asarium

﻿# This is a combination of 2 commits.
  code/scripting/api/objs/shipclass.cpp
Owners: @asarium

fix merge error
  code/scripting/api/objs/shipclass.cpp
Owners: @asarium

Address feedback
  code/scripting/api/objs/shipclass.cpp
Owners: @asarium

add on mouse wheel hook
  code/io/mouse.cpp
  code/io/mouse.h
Owners: none

isDisabled returns if the ship is used in the mission + some documentation fixes
  code/missionui/missionshipchoice.cpp
  code/missionui/missionshipchoice.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/shipwepselect.cpp
Owners: @asarium

flip decals right-side up
  code/decals/decals.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

API access to weapons allowed on a ship class and/or in a specific bank (#4697)
  code/scripting/api/objs/shipclass.cpp
Owners: @asarium

Scpui loadout pools (#4698)
  code/scripting/api/libs/ui.cpp
Owners: @asarium

API access to the remaining ship class strings (#4721)
  code/scripting/api/objs/shipclass.cpp
Owners: @asarium

isDisabled returns if the ship is used in the mission + some documentation fixes (#4725)
  code/missionui/missionshipchoice.cpp
  code/missionui/missionshipchoice.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/shipwepselect.cpp
Owners: @asarium

﻿Reset loadout to default and handle commit mission error returns
  code/missionui/missionscreencommon.h
  code/missionui/missionshipchoice.cpp
  code/missionui/missionshipchoice.h
  code/missionui/missionweaponchoice.h
  code/network/multiteamselect.cpp
  code/scripting/api/libs/ui.cpp
Owners: @asarium

Return enum instead of int codes
  code/missionui/missionscreencommon.h
  code/missionui/missionshipchoice.cpp
  code/scripting/api/libs/ui.cpp
Owners: @asarium

comment
  code/missionui/missionscreencommon.h
Owners: none

Reset loadout to default and handle commit mission error returns (#4719)
  code/missionui/missionscreencommon.h
  code/missionui/missionshipchoice.cpp
  code/missionui/missionshipchoice.h
  code/missionui/missionweaponchoice.h
  code/network/multiteamselect.cpp
  code/scripting/api/libs/ui.cpp
Owners: @asarium

return the actual number of starting wings
  code/missionui/missionshipchoice.cpp
  code/scripting/api/libs/ui.cpp
Owners: @asarium

API for checking and setting if a slot is filled or empty
  code/scripting/api/objs/shipwepselect.cpp
Owners: @asarium

Handle errors from create_wings() in an API friendly way
  code/missionui/missionscreencommon.h
  code/missionui/missionshipchoice.cpp
  code/network/multiui.cpp
  code/scripting/api/libs/ui.cpp
Owners: @asarium

make fix flag enabled
  code/ai/ai_flags.h
  code/ai/ai_profiles.cpp
  code/ai/aigoals.cpp
Owners: none

appease clang
  code/ai/aigoals.cpp
Owners: none

check if weapon is required by current mission
  code/scripting/api/objs/weaponclass.cpp
Owners: @asarium

Add Local Coordinate relations to restore old absolute
  code/model/modelanimation.cpp
  code/model/modelanimation.h
  code/model/modelanimation_moveables.cpp
  code/model/modelanimation_segments.cpp
  code/model/modelanimation_segments.h
Owners: @bmagnu

Automated build commit
  version_override.cmake
Owners: none

Encapsulate relation parsing
  code/model/modelanimation.cpp
  code/model/modelanimation.h
  code/model/modelanimation_segments.cpp
Owners: @bmagnu

refactor names
  code/model/modelanimation.h
  code/model/modelanimation_segments.cpp
  code/model/modelanimation_segments.h
Owners: @bmagnu

return the actual number of starting wings (#4728)
  code/missionui/missionshipchoice.cpp
  code/scripting/api/libs/ui.cpp
Owners: @asarium

API for checking and setting if a slot is filled or empty (#4729)
  code/scripting/api/objs/shipwepselect.cpp
Owners: @asarium

Handle errors from create_wings() in an API friendly way (#4730)
  code/missionui/missionscreencommon.h
  code/missionui/missionshipchoice.cpp
  code/network/multiui.cpp
  code/scripting/api/libs/ui.cpp
Owners: @asarium

add on mouse wheel hook (#4724)
  code/io/mouse.cpp
  code/io/mouse.h
Owners: none

Fix Remove-Order not working for Play Dead Orders (#4720)
  code/ai/ai_flags.h
  code/ai/ai_profiles.cpp
  code/ai/aigoals.cpp
Owners: none

Add AI flag to support ai bay arrivals > 10 seconds
  code/ai/ai_flags.h
  code/ai/ai_profiles.cpp
  code/ai/aicode.cpp
Owners: none

Only check for greater than, not equal to
  code/scripting/api/objs/shipclass.cpp
Owners: @asarium

take userdata and return int
  code/scripting/api/objs/shipclass.cpp
Owners: @asarium

Api to render the 3d selection effect
  code/missionui/missionscreencommon.cpp
  code/missionui/missionscreencommon.h
  code/scripting/api/objs/shipclass.cpp
  code/scripting/api/objs/weaponclass.cpp
Owners: @asarium

Missing include
  code/scripting/api/objs/weaponclass.cpp
Owners: @asarium

documentation
  code/scripting/api/objs/shipclass.cpp
  code/scripting/api/objs/weaponclass.cpp
Owners: @asarium

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu
