Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu

when checking sexp text strings, make sure to account for usages of <argument>
  code/parse/sexp.cpp
Owners: none

Better dialog layout and allow ignoring files from the player list
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  fred2/fred.rc
  fred2/musicplayerdlg.cpp
Owners: none

Make betterer
  fred2/fredrender.cpp
  fred2/musicplayerdlg.cpp
  fred2/musicplayerdlg.h
Owners: none

when checking sexp text strings, make sure to account for usages of <argument> (#5100)
  code/parse/sexp.cpp
Owners: none

a touch more cleanup
  fred2/musicplayerdlg.cpp
  fred2/musicplayerdlg.h
Owners: none

revert this change
  fred2/resource.h
Owners: none

typo
  code/ship/shiphit.cpp
Owners: none

turn off flag for new versions
  code/ai/ai_profiles.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

address feedback
  fred2/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.cpp
Owners: none

remove PERSONA_FLAG_VASUDAN, since it is no longer assigned, and fix the -Vas suffix on the personas, which has apparently been broken since the species upgrade
  code/mission/missionmessage.h
  fred2/shipeditordlg.cpp
  qtfred/src/ui/dialogs/ShipEditorDialog.cpp
Owners: none

change substitute_missing_messages to an actual flag, and add a no automatic assignment flag
  code/mission/missionmessage.cpp
  code/mission/missionmessage.h
Owners: none

Automated build commit
  version_override.cmake
Owners: none

allow personas to be used by more than one species
  code/mission/missionmessage.cpp
  code/mission/missionmessage.h
  fred2/shipeditordlg.cpp
  qtfred/src/ui/dialogs/ShipEditorDialog.cpp
Owners: none

don't skip first debris item
  fred2/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.cpp
Owners: none

allow negative number in event editor
  fred2/eventeditor.cpp
  fred2/eventeditor.h
  fred2/fred.rc
Owners: none

Automated build commit
  version_override.cmake
Owners: none

some validity checks to order sending
  code/hud/hudsquadmsg.cpp
  code/hud/hudsquadmsg.h
  code/ship/ship.cpp
  code/ship/ship.h
Owners: none

Remove the screen signature
  code/anim/animplay.cpp
  code/anim/packunpack.cpp
  code/anim/packunpack.h
  code/graphics/2d.cpp
  code/graphics/2d.h
  code/graphics/generic.cpp
Owners: none

Remove the screen signature (#5108)
  code/anim/animplay.cpp
  code/anim/packunpack.cpp
  code/anim/packunpack.h
  code/graphics/2d.cpp
  code/graphics/2d.h
  code/graphics/generic.cpp
Owners: none

make sure we have an argument
  code/parse/sexp.cpp
Owners: none

remove returns
  code/parse/sexp.cpp
Owners: none

improve handling of failure to find spawn weps
  code/weapon/weapon.h
  code/weapon/weapons.cpp
Owners: none

docs
  code/weapon/weapon.h
Owners: none

shadowing
  code/weapon/weapons.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Fix and expand upon debug safety catcher for ccfg.tbl flag reading. * Expand upon some comments for clarity on assumptions and optimizations * Define the CCF_NONE flag for posterity
  code/controlconfig/controlsconfig.h
  code/controlconfig/controlsconfigcommon.cpp
Owners: @z64555

do not update the gl buffer for a batch if the batch is empty
  code/render/batching.cpp
Owners: none

do not update the gl buffer for a batch if the batch is empty (#5115)
  code/render/batching.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

expose pausing weapon sounds
  code/scripting/api/libs/audio.cpp
Owners: @asarium

Automated build commit
  version_override.cmake
Owners: none

update the .mako file for release posts
  ci/post/release.mako
Owners: @asarium, @z64555

refactor gameplay help
  code/gamehelp/gameplayhelp.cpp
  code/gamehelp/gameplayhelp.h
Owners: none

verify links
  ci/post/release.mako
Owners: @asarium, @z64555

funcs and virtvars for SCPUI pause screen
  code/missionui/missionpause.cpp
  code/missionui/missionpause.h
  code/scripting/api/libs/ui.cpp
Owners: @asarium

use me daddy
  code/scripting/api/libs/ui.cpp
Owners: @asarium

Implementation of SCP_Pool, a generational index based generic storage type intended to replace the major linked lists.
  code/globalincs/pool.h
  code/source_groups.cmake
  test/src/globalincs/test_pool.cpp
  test/src/source_groups.cmake
Owners: none

fixed missing source groups missing
  code/source_groups.cmake
  test/src/source_groups.cmake
Owners: none

fixes to actually use the free list for get_new
  code/globalincs/pool.h
Owners: none
