Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu

Add 'Dont stop running sounds'
  code/model/modelanimation_segments.cpp
  code/model/modelanimation_segments.h
Owners: @bmagnu

styling
  code/parse/sexp.cpp
Owners: none

avoid playing voice messages with aux effects (EFX)
  code/sound/ds.cpp
Owners: none

comments
  code/stats/scoring.h
Owners: none

styling
  code/parse/sexp.cpp
Owners: none

avoid playing voice messages with aux effects (EFX) (#4923)
  code/sound/ds.cpp
Owners: none

add text-to-speech support for macOS (#4914)
  CMakeLists.txt
  cmake/finder/FindSpeech.cmake
  code/sound/speech.cpp
  code/sound/speech.mm
  code/source_groups.cmake
Owners: @asarium

Add yaml file defining build options for vscode cmake tools users. (#4858)
  cmake-variants.yaml
Owners: none

More old dead shader override code that isn't hooked to anything anymore. (#4861)
  code/def_files/data/effects/main-f.sdr
  code/def_files/data/effects/main-g.sdr
  code/def_files/data/effects/main-v.sdr
  code/globalincs/systemvars.cpp
  code/globalincs/systemvars.h
  code/graphics/uniforms.cpp
  code/graphics/util/uniform_structs.h
Owners: none

Fix strange warp glow sizing (#4244)
  code/fireball/warpineffect.cpp
Owners: none

address feedback
  code/parse/sexp.cpp
Owners: none

correct comment
  code/parse/sexp.cpp
Owners: none

pre parse icons to get an accurate count
  code/mission/missionbriefcommon.cpp
  code/mission/missionbriefcommon.h
Owners: none

remove warning on no glow being defined
  code/nebula/neblightning.cpp
Owners: none

add per class shockwave and weapon sounds
  code/ship/ship.cpp
  code/weapon/shockwave.cpp
  code/weapon/shockwave.h
  code/weapon/weapon.h
  code/weapon/weapons.cpp
Owners: none

fix an oversight from gravity changes
  code/object/objcollide.cpp
Owners: none

fix an oversight from gravity changes (#4926)
  code/object/objcollide.cpp
Owners: none

style tweaks for recently added options
  code/mission/missionhotkey.cpp
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
Owners: none

static
  code/mission/missionbriefcommon.cpp
Owners: none

naming update
  code/mod_table/mod_table.cpp
Owners: none

fix the rest of the autoscaled attributes
  code/ai/ai.h
  code/ai/aicode.cpp
Owners: none

add no_fred flag for weapons, and patch no_fred for ships
  code/weapon/weapon_flags.h
  code/weapon/weapons.cpp
  fred2/shipeditordlg.cpp
  fred2/shipeditordlg.h
  fred2/weaponeditordlg.cpp
  fred2/weaponeditordlg.h
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Add 'Dont stop running sounds' (#4924)
  code/model/modelanimation_segments.cpp
  code/model/modelanimation_segments.h
Owners: @bmagnu

do not error in FRED since the above code won't load the texture in FRED
  code/nebula/neblightning.cpp
Owners: none

fix two warnings
  code/object/collideshipweapon.cpp
Owners: none

add set-order-allowed-for-target sexp (#4884)
  code/ai/ailua.cpp
  code/ai/ailua.h
  code/hud/hudsquadmsg.cpp
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/ship/ship.cpp
  code/ship/ship.h
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Add Option to allow weapons that hit player to place per-weapon sound (#4921)
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/ship/ship.cpp
  code/weapon/shockwave.cpp
  code/weapon/shockwave.h
  code/weapon/weapon.h
  code/weapon/weapons.cpp
Owners: none

make sexp_tree dragging more user-friendly
  fred2/campaigneditordlg.cpp
  fred2/campaigneditordlg.h
  fred2/eventeditor.cpp
  fred2/eventeditor.h
  fred2/missiongoalsdlg.cpp
  fred2/missiongoalsdlg.h
  fred2/sexp_tree.cpp
  fred2/sexp_tree.h
  qtfred/src/ui/widgets/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.h
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Modular bolts (#4880)
  code/nebula/neblightning.cpp
  code/nebula/neblightning.h
Owners: none

don't process turrets or subsystems when playing dead
  code/ai/aicode.cpp
  code/ship/ship.cpp
Owners: none

handle speeds when removing play-dead
  code/ai/aigoals.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Move pre-set cheat to embedded cheats table
  code/cheats_table/cheats_table.cpp
  code/def_files/data/tables/cheats.tbl
  code/source_groups.cmake
Owners: none

Add proper saving of skybox anim triggers
  code/model/modelanimation.cpp
  code/model/modelanimation.h
  fred2/missionsave.cpp
  qtfred/src/mission/missionsave.cpp
Owners: @bmagnu

Properly step non-obj animations
  code/object/object.cpp
  code/starfield/starfield.cpp
Owners: none

Use appropriate types for stuff_string
  code/cheats_table/cheats_table.cpp
Owners: none

Check if Texture is valid first
  code/scripting/api/objs/texture.cpp
Owners: @asarium
