Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

Ignominious Lack of P
  code/mission/missionparse.cpp
Owners: none

Update code/ai/aigoals.cpp
  code/ai/aigoals.cpp
Owners: none

Update code/ai/aigoals.cpp
  code/ai/aigoals.cpp
Owners: none

Add special ship info index (#4908)
  code/ai/aigoals.cpp
  code/hud/hudsquadmsg.cpp
  code/mission/missionparse.cpp
  code/ship/ship.cpp
  code/ship/ship.h
Owners: none

ship flag to exempt it from targeting restrictions (#4878)
  code/mission/mission_flags.h
  code/mission/missionparse.cpp
  code/ship/awacs.cpp
  code/ship/ship.cpp
  code/ship/ship_flags.h
  fred2/missionsave.cpp
  qtfred/src/mission/missionsave.cpp
Owners: none

Move the assertion.
  code/ai/aicode.cpp
Owners: none

optional feedback
  code/scripting/api/objs/control_binding.cpp
Owners: @asarium

setup callsign and altname fields to use the full 31 characters allowed (#4905)
  fred2/fred.rc
  fred2/shipeditordlg.cpp
Owners: none

allow getting message names in script generation
  fred2/fred.rc
  fred2/voiceactingmanager.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Setting up Vampirism again
  code/ship/shiphit.cpp
  code/weapon/weapon.h
  code/weapon/weapon_flags.h
  code/weapon/weapons.cpp
Owners: none

Fix crashes with sssi
  code/mission/missionparse.cpp
  code/ship/ship.cpp
Owners: none

Make sure we adjust for the wingp->special_ship--
  code/ship/ship.cpp
Owners: none

add text-to-speech support for macOS
  CMakeLists.txt
  cmake/finder/FindSpeech.cmake
  code/sound/speech.cpp
  code/sound/speech.mm
  code/source_groups.cmake
Owners: @asarium

only add Obj-C langs on mac
  CMakeLists.txt
Owners: none

Style update
  code/ship/shiphit.cpp
Owners: none

More styling updates
  code/ship/shiphit.cpp
Owners: none

review tweaks
  code/ai/aibig.cpp
  code/asteroid/asteroid.cpp
  code/mission/missionparse.cpp
  code/parse/sexp.cpp
Owners: none

fix a copy+paste error
  code/mission/missionparse.cpp
Owners: none

move obj-c file to apple-specific block
  code/source_groups.cmake
Owners: none

guard against unknown variables
  code/parse/sexp.cpp
  fred2/sexp_tree.cpp
Owners: none

also qtfred
  qtfred/src/ui/widgets/sexp_tree.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Adjust ssssssssssi in one more place (#4913)
  code/mission/missionparse.cpp
  code/ship/ship.cpp
Owners: none

fix crash when changing ship classes in FRED
  code/ship/ship.cpp
Owners: none

fix crash when changing ship classes in FRED (#4917)
  code/ship/ship.cpp
Owners: none

Fix a warning
  code/scripting/api/objs/control_binding.cpp
Owners: @asarium

optional feedback
  code/scripting/api/objs/control_binding.cpp
Owners: @asarium

option to always hide hidden hotkey ships (#4877)
  code/mission/missionhotkey.cpp
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
Owners: none

Setting up Vampirism again... again (#4911)
  code/ship/shiphit.cpp
  code/weapon/weapon.h
  code/weapon/weapon_flags.h
  code/weapon/weapons.cpp
Owners: none

make the visual ordering match the id ordering
  fred2/fredview.cpp
  fred2/mainfrm.cpp
  qtfred/src/mission/Editor.cpp
  qtfred/src/ui/widgets/ColorComboBox.cpp
Owners: none

remove some obsolete functions
  fred2/fredview.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

fix full ship list selection in FRED
  fred2/fredview.cpp
  fred2/mainfrm.cpp
  fred2/mainfrm.h
  fred2/management.cpp
  fred2/management.h
Owners: none

Implement gravity (#4803)
  code/ai/aibig.cpp
  code/ai/aicode.cpp
  code/ai/aiturret.cpp
  code/asteroid/asteroid.cpp
  code/asteroid/asteroid.h
  code/debris/debris.cpp
  code/hud/hudtarget.cpp
  code/hud/hudtarget.h
  code/math/vecmat.cpp
  code/math/vecmat.h
  code/mission/missionparse.cpp
  code/mission/missionparse.h
  code/model/model.h
  code/network/multi_interpolate.cpp
  code/network/multi_interpolate.h
  code/object/collideshipweapon.cpp
  code/object/objcollide.cpp
  code/object/object.cpp
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/physics/physics.cpp
  code/physics/physics.h
  code/scripting/api/libs/mission.cpp
  code/scripting/api/objs/physics_info.cpp
  code/ship/ship.cpp
  code/ship/ship.h
  code/ship/shipfx.cpp
  code/ship/shiphit.cpp
  code/weapon/weapon.h
  code/weapon/weapons.cpp
  fred2/fredrender.cpp
  qtfred/src/mission/EditorViewport.cpp
Owners: @asarium

fix full ship list selection in FRED (#4919)
  fred2/fredview.cpp
  fred2/mainfrm.cpp
  fred2/mainfrm.h
  fred2/management.cpp
  fred2/management.h
  qtfred/src/mission/Editor.cpp
  qtfred/src/ui/widgets/ColorComboBox.cpp
Owners: none

Add Option to allow weapons that hit player to place per-weapon sound
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/weapon/weapons.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Address feedback
  code/parse/sexp.cpp
Owners: none

Add Animation Scripting Handle
  code/model/modelanimation.cpp
  code/model/modelanimation.h
  code/scripting/api/libs/mission.cpp
  code/scripting/api/objs/animation_handle.cpp
  code/scripting/api/objs/animation_handle.h
  code/scripting/api/objs/ship.cpp
  code/source_groups.cmake
Owners: @bmagnu, @asarium

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu
