Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu

Fix edge case bugs with moveables in combination with special polymodels being animated
  code/scripting/api/libs/mission.cpp
  code/ship/ship.cpp
  code/starfield/starfield.cpp
Owners: @asarium

Fix edge case bugs with moveables in combination with special polymodels being animated (#4981)
  code/scripting/api/libs/mission.cpp
  code/ship/ship.cpp
  code/starfield/starfield.cpp
Owners: @asarium

Only set the colors for passive lightning
  code/model/modelread.cpp
Owners: none

clean traitor.tbl parsing (#4949)
  code/stats/scoring.cpp
Owners: none

Only set the colors for passive lightning (#4982)
  code/model/modelread.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

exposes wing formation via scripting
  code/scripting/api/libs/tables.cpp
  code/scripting/api/objs/fireballclass.cpp
  code/scripting/api/objs/wing.cpp
  code/scripting/api/objs/wingformation.cpp
  code/scripting/api/objs/wingformation.h
  code/source_groups.cmake
Owners: @asarium

try disabling Qt builds
  .github/workflows/build-nightly.yaml
  .github/workflows/build-release.yaml
  .github/workflows/build-test.yaml
  .github/workflows/cache-master.yaml
  .github/workflows/test-pull_request.yaml
  ci/appveyor/build.ps1
  ci/linux/configure_cmake.sh
  ci/travis/before_script.sh
Owners: @asarium, @z64555

Address feedback
  code/globalincs/memory/memory.h
  code/mission/missionmessage.cpp
Owners: none

make message queue dynamic
  code/globalincs/memory/memory.h
  code/globalincs/systemvars.h
  code/mission/missionmessage.cpp
Owners: none

ensure animations load first if available
  code/nebula/neb.cpp
  code/weapon/weapons.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

prevent field overwriting if tbm is used
  code/stats/scoring.cpp
Owners: none

bool instead of int
  code/ai/aicode.cpp
Owners: none

clarical comment
  code/autopilot/autopilot.cpp
Owners: none

MAX_OPERATORS is no longer used
  code/parse/sexp.h
  fred2/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.cpp
Owners: none

address feedback
  code/parse/sexp/sexp_lookup.cpp
Owners: none

convert categories, subcategories, and operator IDs
  code/globalincs/counter.hpp
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/parse/sexp/EngineSEXP.cpp
  code/parse/sexp/EngineSEXP.h
  code/parse/sexp/LuaSEXP.cpp
  code/parse/sexp/sexp_lookup.cpp
  code/parse/sexp/sexp_lookup.h
  code/source_groups.cmake
  fred2/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.cpp
Owners: none

typesafe sexp_oper_type
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/parse/sexp/sexp_lookup.cpp
  code/parse/sexp/sexp_lookup.h
Owners: none

use enum for sexp error check
  code/parse/sexp.h
Owners: none

add defaults to switch blocks
  code/parse/sexp.cpp
Owners: none

typesafe oswpt_type
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/scripting/api/objs/oswpt.cpp
Owners: @asarium

multi version bump for new SEXP operator IDs
  code/network/multi.h
Owners: none

address feedback
  code/asteroid/asteroid.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

ensure animations load first if available (#4986)
  code/nebula/neb.cpp
  code/weapon/weapons.cpp
Owners: none

fix crash in ship_close_cockpit_displays
  code/ship/ship.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Remove global hook include in ship.h
  code/ai/aicode.cpp
  code/ai/aigoals.cpp
  code/ai/aiturret.cpp
  code/mission/missioncampaign.cpp
  code/missionui/missionscreencommon.cpp
  code/object/collideweaponweapon.cpp
  code/object/object.cpp
  code/parse/sexp.cpp
  code/scripting/api/libs/graphics.cpp
  code/scripting/api/libs/mission.cpp
  code/ship/afterburner.cpp
  code/ship/ship.h
Owners: @asarium

Incorporate Feedback
  code/mission/missionparse.cpp
  code/object/collideshipweapon.cpp
  code/parse/sexp.cpp
  code/scripting/api/libs/mission.cpp
  code/scripting/global_hooks.cpp
  code/scripting/global_hooks.h
  code/scripting/hook_conditions.cpp
  code/scripting/hook_conditions.h
  code/scripting/scripting.cpp
  code/ship/ship.cpp
  freespace2/freespace.cpp
Owners: @asarium

fix passive arc iteration
  code/ship/shipfx.cpp
Owners: none

Asteroid/Debris cleanup + Modular asteroids table (#4870)
  code/asteroid/asteroid.cpp
  code/asteroid/asteroid.h
  code/hud/hudtargetbox.cpp
  code/mission/missionparse.cpp
  code/parse/sexp.cpp
  code/starfield/starfield.h
  fred2/asteroideditordlg.cpp
  fred2/dumpstats.cpp
  fred2/fred.rc
  fred2/missionsave.cpp
  fred2/resource.h
  fred2/sexp_tree.cpp
  qtfred/src/mission/dialogs/AsteroidEditorDialogModel.cpp
  qtfred/src/mission/missionsave.cpp
  qtfred/src/ui/dialogs/AsteroidEditorDialog.cpp
  qtfred/src/ui/dialogs/AsteroidEditorDialog.h
  qtfred/ui/AsteroidEditorDialog.ui
Owners: none

fix subcategory comparison
  code/mission/missionparse.cpp
  fred2/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.cpp
Owners: none

Add missing locale argument to `std::isdigit()` calls.
  code/scripting/api/libs/base.cpp
Owners: @asarium

subcategory fixes and followup
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/parse/sexp/EngineSEXP.cpp
  code/parse/sexp/EngineSEXP.h
  code/parse/sexp/LuaAISEXP.cpp
  code/parse/sexp/sexp_lookup.cpp
  fred2/management.cpp
  freespace2/freespace.cpp
  qtfred/src/main.cpp
  qtfred/src/mission/management.cpp
  qtfred/src/mission/management.h
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Incorporate Feedback 2
  code/globalincs/version.cpp
  code/globalincs/version.h
  code/scripting/global_hooks.cpp
  code/scripting/scripting.cpp
Owners: @asarium

Add revision to inline version specififer
  code/globalincs/version.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Remove Counter library
  code/globalincs/counter.hpp
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/source_groups.cmake
Owners: none
