Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu

cutscene custom data
  code/cutscene/cutscenes.cpp
  code/cutscene/cutscenes.h
  code/scripting/api/objs/techroom.cpp
Owners: @asarium

Add Beer-Powder absorption for diffuse lighting
  code/def_files/data/effects/volumetric-f.sdr
  code/graphics/opengl/gropengldeferred.cpp
  code/graphics/util/uniform_structs.h
Owners: none

Match documentation to actual hook names.
  code/scripting/global_hooks.cpp
Owners: @asarium

Add attribution before I forget
  code/def_files/data/effects/volumetric-f.sdr
Owners: none

Fix dock points
  code/model/model.h
  code/model/modelread.cpp
  code/model/modelreplace.cpp
Owners: none

flag to force stealth ships onto the radar
  code/mission/mission_flags.h
  code/mission/missionparse.cpp
  code/radar/radarsetup.cpp
  code/ship/ship.cpp
  code/ship/ship_flags.h
  fred2/missionsave.cpp
Owners: none

Let FRED display flag descriptions
  code/ai/ai.h
  code/ai/aicode.cpp
  code/mission/missionparse.cpp
  code/mission/missionparse.h
  code/object/object.cpp
  code/object/object.h
  code/parse/sexp.h
  code/ship/ship.cpp
  code/ship/ship.h
  fred2/sexp_tree.cpp
Owners: none

qtFRED support
  qtfred/src/ui/widgets/sexp_tree.cpp
Owners: none

unambiguous braces
  code/radar/radarsetup.cpp
Owners: none

missed items required to build qtfred
  qtfred/src/mission/Editor.cpp
  qtfred/src/mission/dialogs/MissionSpecDialogModel.cpp
Owners: none

that brace was in the wrong place
  code/radar/radarsetup.cpp
Owners: none

explicit size_t
  fred2/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.cpp
Owners: none

Allow for arbitrary briefing icon scaling (#5047)
  code/graphics/render.cpp
  code/graphics/render.h
  code/mission/missionbriefcommon.cpp
  code/mission/missionbriefcommon.h
  code/mission/missionparse.cpp
  fred2/briefingeditordlg.cpp
  fred2/briefingeditordlg.h
  fred2/fred.rc
  fred2/missionsave.cpp
  fred2/resource.h
  qtfred/src/mission/missionsave.cpp
  qtfred/ui/BriefingEditorDialog.ui
Owners: none

add ability to disable grid rendering for each stage (#5053)
  code/mission/missionbriefcommon.cpp
  code/mission/missionbriefcommon.h
  code/mission/missionparse.cpp
  fred2/briefingeditordlg.cpp
  fred2/briefingeditordlg.h
  fred2/fred.rc
  fred2/missionsave.cpp
  fred2/resource.h
  qtfred/src/mission/missionsave.cpp
  qtfred/ui/BriefingEditorDialog.ui
Owners: none

Revert "Allow for arbitrary briefing icon scaling (#5047)"
  code/graphics/render.cpp
  code/graphics/render.h
  code/mission/missionbriefcommon.cpp
  code/mission/missionbriefcommon.h
  code/mission/missionparse.cpp
  fred2/briefingeditordlg.cpp
  fred2/briefingeditordlg.h
  fred2/fred.rc
  fred2/missionsave.cpp
  fred2/resource.h
  qtfred/src/mission/missionsave.cpp
  qtfred/ui/BriefingEditorDialog.ui
Owners: none

Automated build commit
  version_override.cmake
Owners: none

tidyup parameters
  code/def_files/data/effects/volumetric-f.sdr
  code/graphics/opengl/gropengldeferred.cpp
  code/nebula/volumetrics.cpp
  code/nebula/volumetrics.h
Owners: none

Encapsulate 3d texture render in volumetrics class
  code/graphics/opengl/gropengldeferred.cpp
  code/nebula/volumetrics.cpp
  code/nebula/volumetrics.h
Owners: none

Fix Typo and test oversampling
  code/def_files/data/effects/volumetric-f.sdr
  code/graphics/opengl/gropengldeferred.cpp
  code/graphics/util/uniform_structs.h
  code/nebula/volumetrics.cpp
  code/nebula/volumetrics.h
Owners: none

Add model read for 3d texture sample
  code/nebula/volumetrics.cpp
  code/nebula/volumetrics.h
Owners: none

descriptions
  code/mission/missionparse.cpp
Owners: none

mission version numbers should be major.minor
  code/globalincs/version.cpp
  code/globalincs/version.h
  code/mission/missionparse.cpp
  fred2/freddoc.cpp
  fred2/missionsave.cpp
  freespace2/freespace.cpp
  qtfred/src/mission/Editor.cpp
  qtfred/src/mission/missionsave.cpp
Owners: none

Fix model-based volume generation
  code/graphics/opengl/gropengldeferred.cpp
  code/nebula/volumetrics.cpp
  code/nebula/volumetrics.h
Owners: none

change case
  code/ai/aigoals.cpp
  code/ai/aigoals.h
  code/parse/sexp.cpp
  code/parse/sexp.h
  fred2/campaigntreewnd.cpp
  fred2/freddoc.cpp
  fred2/management.cpp
  fred2/management.h
  fred2/shipeditordlg.cpp
  fred2/waypointpathdlg.cpp
  fred2/wing.cpp
  fred2/wing_editor.cpp
  qtfred/src/mission/Editor.cpp
  qtfred/src/mission/Editor.h
  qtfred/src/mission/EditorWing.cpp
  qtfred/src/mission/dialogs/ShipEditorDialogModel.cpp
  qtfred/src/mission/dialogs/WaypointEditorDialogModel.cpp
Owners: none

other feedback
  code/ai/aigoals.cpp
  fred2/management.cpp
  qtfred/src/mission/Editor.cpp
Owners: none

refactor getting random vertices and script func
  code/debris/debris.cpp
  code/mission/missionparse.cpp
  code/model/model.h
  code/model/modelinterp.cpp
  code/scripting/api/objs/model.cpp
  code/ship/ship.cpp
  code/ship/shipfx.cpp
  code/starfield/supernova.cpp
  code/weapon/beam.cpp
Owners: @asarium

add num vertices script func
  code/scripting/api/objs/model.cpp
Owners: @asarium

unused variable
  code/ship/ship.cpp
Owners: none

removes soon to be deprecated github CI commands. For details see https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/
  ci/linux/create_dist_pack.sh
Owners: @asarium, @z64555

per bank autoaim (#5074)
  code/ship/ship.cpp
  code/ship/ship.h
Owners: none

prevent the BLONG by capturing keypresses
  fred2/sexp_tree.cpp
  fred2/sexp_tree.h
Owners: none

prevent fred from crashing on a node that shouldn't be there
  fred2/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.cpp
Owners: none

update docs and prints
  code/model/modelinterp.cpp
Owners: none

add comment
  fred2/sexp_tree.cpp
Owners: none

remove previous optimization
  code/model/modelread.cpp
Owners: none

update naming and remove unused function
  code/debris/debris.cpp
  code/mission/missionparse.cpp
  code/model/model.h
  code/model/modelinterp.cpp
  code/ship/ship.cpp
  code/ship/shipfx.cpp
  code/starfield/supernova.cpp
  code/weapon/beam.cpp
Owners: none

make multiline comments display properly without length restriction
  fred2/eventeditor.cpp
  fred2/eventeditor.h
Owners: none

make multiline work in text editor
  fred2/fred.rc
  fred2/textviewdlg.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

download the vulkan sdk in the pipeline
  .github/workflows/build-nightly.yaml
  .github/workflows/build-release.yaml
  .github/workflows/build-standalone.yaml
  .github/workflows/build-test.yaml
  .github/workflows/test-pull_request.yaml
Owners: none
