Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu

Remove model instances after rendering
  code/scripting/api/objs/shipclass.cpp
Owners: @asarium

Move this to it's own method
  code/missionui/fictionviewer.cpp
  code/missionui/fictionviewer.h
  code/scripting/api/objs/fictionviewer.cpp
Owners: @asarium

fix vintage copypasta bug
  code/ai/aicode.cpp
Owners: none

initialize NavPoint properly
  code/autopilot/autopilot.h
Owners: none

adds hudgage and event to the valid types of a Lua Sexp parameter
  code/parse/sexp/LuaSEXP.cpp
Owners: none

remove vestigial code
  code/lab/dialogs/lab_ui.cpp
Owners: none

change REF_TYPE_* to enum class
  code/ai/aigoals.cpp
  code/ai/aigoals.h
  code/parse/sexp.cpp
  code/parse/sexp.h
  fred2/freddoc.cpp
  fred2/management.cpp
  fred2/management.h
  fred2/shipeditordlg.cpp
  fred2/waypointpathdlg.cpp
  fred2/wing.cpp
  fred2/wing_editor.cpp
  qtfred/src/mission/Editor.cpp
  qtfred/src/mission/Editor.h
  qtfred/src/mission/EditorWing.cpp
  qtfred/src/mission/dialogs/ShipEditorDialogModel.cpp
  qtfred/src/mission/dialogs/WaypointEditorDialogModel.cpp
Owners: none

change SEXP_MODE_* to enum class
  code/parse/sexp.cpp
  code/parse/sexp.h
  fred2/campaigntreewnd.cpp
Owners: none

change SEXP_SRC_* to enum class
  code/ai/aigoals.cpp
  code/ai/aigoals.h
  code/parse/sexp.cpp
  code/parse/sexp.h
  fred2/management.cpp
  fred2/management.h
  qtfred/src/mission/Editor.cpp
  qtfred/src/mission/Editor.h
Owners: none

add hu.isCommMenuOpen
  code/scripting/api/libs/hud.cpp
Owners: @asarium

ci stuff
  code/ai/aigoals.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

add credits entry for imgui
  code/menuui/credits.cpp
Owners: none

Fix OnBeamCollision oversight
  code/scripting/global_hooks.cpp
Owners: @asarium

Words are hard
  code/scripting/global_hooks.cpp
Owners: @asarium

Fix OnBeamCollision oversight (#5021)
  code/scripting/global_hooks.cpp
Owners: @asarium

enhance handling of motion debris
  code/mission/missionparse.cpp
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/starfield/starfield.cpp
  code/starfield/starfield.h
  fred2/sexp_tree.cpp
  fred2/sexp_tree.h
Owners: none

dunno what i was thinking here
  code/starfield/starfield.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

address feedback
  code/starfield/starfield.cpp
  code/starfield/starfield.h
  fred2/sexp_tree.cpp
Owners: none

require all four bitmaps to be defined in new parsing method
  code/starfield/starfield.cpp
Owners: none

use the imgui namespace
  code/lab/dialogs/lab_ui.cpp
Owners: none

Separate the background dialog out into its own window
  code/lab/dialogs/lab_ui.cpp
  code/lab/dialogs/lab_ui.h
Owners: none

make sure the subsystem highlights are placed correctly
  code/lab/dialogs/lab_ui.cpp
Owners: none

Fix failure to post Mac builds to forums
  ci/post/nebula.py
Owners: @asarium, @z64555

Automated build commit
  version_override.cmake
Owners: none

Change check of POST response result
  ci/post/forum.py
Owners: @asarium, @z64555

Respecify the env for Post Builds auto-trigger
  .github/workflows/post-build-release.yaml
Owners: none

update references to 22.4 to 23.0
  code/ai/ai_profiles.cpp
  fred2/missionsave.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

fix a few more version references
  code/mod_table/mod_table.cpp
  code/scripting/api/objs/enums.cpp
  qtfred/src/mission/missionsave.cpp
Owners: @asarium

update regen rates and autoaim fov on ship class change
  code/ship/ship.cpp
Owners: none

address issues related to cf.openFile() error handling
  code/cfile/cfile.cpp
  code/scripting/api/libs/cfile.cpp
Owners: @asarium

script hooks must be declared within global_hooks so that both FRED and FSO can see them
  code/scripting/global_hooks.cpp
  code/scripting/global_hooks.h
  freespace2/freespace.cpp
Owners: @asarium

Automated build commit
  version_override.cmake
Owners: none

address issues related to cf.openFile() error handling (#5030)
  code/cfile/cfile.cpp
  code/scripting/api/libs/cfile.cpp
Owners: @asarium

script hooks must be declared within global_hooks so that both FRED and FSO can see them (#5031)
  code/scripting/global_hooks.cpp
  code/scripting/global_hooks.h
  freespace2/freespace.cpp
Owners: @asarium

Update 22.4 version references to 23.0 (#5025)
  code/ai/ai_profiles.cpp
  code/mod_table/mod_table.cpp
  code/scripting/api/objs/enums.cpp
  fred2/missionsave.cpp
  qtfred/src/mission/missionsave.cpp
Owners: @asarium

update regen rates and autoaim fov on ship class change (#5029)
  code/ship/ship.cpp
Owners: none

Add dockpoint as a return type
  code/parse/sexp.cpp
  code/parse/sexp/LuaSEXP.cpp
  fred2/sexp_tree.cpp
  fred2/sexp_tree.h
Owners: none
