Repository scp-fs2open/fs2open.github.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asarium, @z64555, @bmagnu

.github/CODEOWNERS:

cmake/ @asarium

ci/ @asarium @z64555

code/executor/ @asarium

code/scpui/ @asarium

code/scripting/ @asarium

code/controlconfig/ @z64555

code/model/modelanimation*.* @bmagnu

Fully transition global hooks
  code/asteroid/asteroid.cpp
  code/debris/debris.cpp
  code/object/collidedebrisship.cpp
  code/object/collideshipship.cpp
  code/object/collideshipweapon.cpp
  code/scripting/hook_api.h
  code/scripting/hook_conditions.cpp
  code/ship/ship.cpp
  code/ship/shiphit.cpp
  code/weapon/beam.cpp
  code/weapon/weapons.cpp
Owners: @asarium

Fixes CTD with decals on dying ships (#4956)
  code/decals/decals.cpp
Owners: none

Exposes modder useful options to decals
  code/decals/decals.cpp
  code/decals/decals.h
  code/object/collideshipweapon.cpp
Owners: none

decouple sexp parsing and asteroid field creation methods
  code/asteroid/asteroid.cpp
  code/asteroid/asteroid.h
  code/parse/sexp.cpp
Owners: none

add script ability to toggle decals
  code/decals/decals.cpp
  code/decals/decals.h
  code/scripting/api/libs/tables.cpp
Owners: @asarium

remove this
  code/parse/sexp.cpp
Owners: none

fix merge oversights
  code/asteroid/asteroid.cpp
Owners: none

Remove this check
  code/mission/missionparse.cpp
Owners: none

reorder
  code/asteroid/asteroid.h
Owners: none

properly use set arg not func
  code/scripting/api/libs/tables.cpp
Owners: @asarium

Convert legacy hooks pt. 1
  code/controlconfig/controlsconfig.cpp
  code/io/key.cpp
  code/io/mouse.cpp
  code/mission/missionmessage.cpp
  code/mission/missionparse.cpp
  code/object/collidedebrisship.cpp
  code/object/collidedebrisweapon.cpp
  code/object/collideshipweapon.cpp
  code/object/collideweaponweapon.cpp
  code/scripting/global_hooks.cpp
  code/scripting/global_hooks.h
  code/scripting/hook_conditions.cpp
  code/scripting/hook_conditions.h
  code/scripting/scripting.cpp
  freespace2/freespace.cpp
Owners: @z64555, @asarium

use scp_string instead
  code/asteroid/asteroid.cpp
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Convert legacy hooks pt. 2
  code/ai/aiturret.cpp
  code/mission/missionparse.cpp
  code/object/object.cpp
  code/parse/sexp.cpp
  code/scripting/api/libs/graphics.cpp
  code/scripting/api/libs/mission.cpp
  code/scripting/global_hooks.cpp
  code/scripting/global_hooks.h
  code/scripting/hook_conditions.cpp
  code/scripting/hook_conditions.h
  code/scripting/scripting.cpp
  code/ship/ship.cpp
  code/weapon/beam.cpp
  code/weapon/weapons.cpp
  freespace2/freespace.cpp
Owners: @asarium

Convert legacy hooks pt. 3
  code/ai/aicode.cpp
  code/ai/aigoals.cpp
  code/mission/missioncampaign.cpp
  code/missionui/missionscreencommon.cpp
  code/pilotfile/plr.cpp
  code/scripting/global_hooks.cpp
  code/scripting/hook_conditions.cpp
  code/scripting/scripting.cpp
  code/ship/afterburner.cpp
  code/ship/ship.cpp
  code/ship/shipfx.cpp
  code/ship/shiphit.cpp
  code/weapon/beam.cpp
  code/weapon/weapons.cpp
  freespace2/freespace.cpp
Owners: @asarium

Post-conversion cleanup
  code/object/collideweaponweapon.cpp
  code/scripting/scripting.cpp
  code/scripting/scripting.h
Owners: @asarium

restore parsing
  code/scripting/hook_conditions.cpp
  code/scripting/hook_conditions.h
  code/scripting/scripting.cpp
Owners: @asarium

Add Documentation and fix parsing
  code/scripting/doc_html.cpp
  code/scripting/doc_json.cpp
  code/scripting/hook_api.cpp
  code/scripting/hook_api.h
  code/scripting/scripting.cpp
  code/scripting/scripting_doc.h
Owners: @asarium

Fixup engine ingame hook adding
  code/scripting/api/libs/engine.cpp
  code/scripting/scripting.cpp
  code/scripting/scripting.h
Owners: @asarium

Fixup engine ingame hook adding again
  code/scripting/api/libs/engine.cpp
Owners: @asarium

Fix warnings
  code/scripting/hook_api.h
  code/scripting/hook_conditions.cpp
Owners: @asarium

Fix GCC unqualified template base lookup
  code/scripting/hook_api.h
  code/scripting/hook_conditions.h
  code/ship/ship.cpp
Owners: @asarium

unqualified lookup v2
  code/scripting/hook_api.h
Owners: @asarium

Virtual Destrcutors
  code/scripting/hook_conditions.h
Owners: @asarium

Fix Clang
  code/scripting/hook_conditions.cpp
  code/scripting/scripting.h
Owners: @asarium

Fix ship objp hook condition shadow
  code/scripting/hook_conditions.cpp
Owners: @asarium

Incorporate feedback
  code/model/modelanimation.cpp
  code/model/modelanimation.h
  fred2/missionsave.cpp
  qtfred/src/mission/missionsave.cpp
Owners: @bmagnu

fix two minor things in decal shader
  code/def_files/data/effects/decal-f.sdr
Owners: none

Automated build commit
  version_override.cmake
Owners: none

one more cleanup line
  code/def_files/data/effects/decal-f.sdr
Owners: none

clean up support ship mode in all cases
  code/ai/aicode.cpp
Owners: none

add some additional weapon checks
  code/parse/sexp.cpp
Owners: none

set-asteroid-field and set-debris-field sexps (#4860)
  code/asteroid/asteroid.cpp
  code/asteroid/asteroid.h
  code/object/object.h
  code/parse/sexp.cpp
  code/parse/sexp.h
  fred2/sexp_tree.cpp
  fred2/sexp_tree.h
Owners: none

spacing
  code/asteroid/asteroid.cpp
Owners: none

remove unneeded function prototypes
  code/parse/sexp.h
Owners: none

Automated build commit
  version_override.cmake
Owners: none

Incorporate feedback
  code/parse/sexp.cpp
  code/scripting/api/libs/mission.cpp
  code/scripting/api/objs/ship.cpp
  code/ship/ship.cpp
  code/ship/ship.h
  freespace2/freespace.cpp
Owners: @asarium

fix wing name matching
  code/ship/ship.cpp
Owners: none

Fix comparison
  code/scripting/api/libs/mission.cpp
Owners: @asarium

Allow setting glowpoint light intensity (#4955)
  code/model/model.h
  code/model/modelread.cpp
  code/model/modelrender.cpp
Owners: none
