Repository scp-fs2open/fs2open.github.com, pull requests merged in 2022-08, with the labels that each got.

#4526 Add OBJ_GHOST to this assert and add comments
  code/ai/aicode.cpp
Labels: fix, ai

#4502 Preliminary Changelog for 22.2.0
  Changelog.md
Labels: documentation

#4506 only attenuate a persistent sound by engine strength if it's an engine sound
  code/object/objectsnd.cpp
  code/object/objectsnd.h
  code/scripting/api/objs/enums.cpp
  code/ship/ship.cpp
Labels: fix, sound, scripting

#4464 add x500 and x1000 movement speeds
  fred2/fred.rc
  fred2/fredview.cpp
  fred2/fredview.h
  fred2/resource.h
Labels: enhancement, fred

#4518 don't prune HUD gauges by resolution in FRED
  code/hud/hudparse.cpp
  fred2/sexp_tree.cpp
Labels: cleanup, fix, HUD, fred

#4511 Only check that *ships* have left the mission
  code/ship/ship.cpp
Labels: fix, multi

#4443 more cleanup in preparation for model translation
  code/ai/aiturret.cpp
  code/asteroid/asteroid.cpp
  code/hud/hudtargetbox.cpp
  code/math/floating.h
  code/math/vecmat.cpp
  code/math/vecmat.h
  code/mission/missionbriefcommon.cpp
  code/model/model.h
  code/model/modelread.cpp
  code/model/modelrender.cpp
  code/nebula/neblightning.cpp
  code/network/multi.h
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/physics/physics.cpp
  code/radar/radarorb.cpp
  code/scripting/api/libs/mission.cpp
  code/ship/ship.cpp
Labels: cleanup

#4442 add ships.tbl override for turret fov
  code/ai/aiturret.cpp
  code/model/model_flags.h
  code/model/modelread.cpp
  code/ship/ship.cpp
  code/weapon/beam.cpp
Labels: enhancement

#4400 clean up Lua frame handling a bit
  code/graphics/2d.cpp
  code/scripting/api/libs/graphics.cpp
  code/scripting/api/libs/graphics.h
  code/scripting/lua.cpp
  code/scripting/scripting.cpp
  code/scripting/scripting.h
Labels: cleanup, scripting

#4531 Allow Mods to specific default multi update speeds
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/network/multi_options.cpp
Labels: multi

#4532 Automatically calculate length of flag name lists.
  code/ai/ai.h
  code/ai/aicode.cpp
  code/object/object.cpp
  code/object/object.h
  code/parse/sexp.cpp
  code/ship/ship.cpp
  code/ship/ship.h
  fred2/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.cpp
Labels: cleanup

#4352 Add new ship flag Aspect_immune
  code/hud/hudlock.cpp
  code/mission/mission_flags.h
  code/mission/missionparse.cpp
  code/parse/sexp.cpp
  code/ship/ship.cpp
  code/ship/ship_flags.h
  code/weapon/weapons.cpp
  fred2/missionsave.cpp
  qtfred/src/mission/missionsave.cpp
Labels: enhancement, ai

#4535 Fix False Null MOI warnings
  code/ai/aiturret.cpp
  code/asteroid/asteroid.cpp
  code/hud/hudtargetbox.cpp
  code/math/floating.h
  code/math/vecmat.cpp
  code/math/vecmat.h
  code/mission/missionbriefcommon.cpp
  code/model/modelread.cpp
  code/model/modelrender.cpp
  code/nebula/neblightning.cpp
  code/parse/sexp.cpp
  code/physics/physics.cpp
  code/radar/radarorb.cpp
  code/scripting/api/libs/mission.cpp
Labels: fix, models

#4541 Fix misspelled ID name for in-game options
  code/graphics/2d.cpp
Labels: fix, scripting

#4538 Script function for turret number of fire points
  code/scripting/api/objs/subsystem.cpp
Labels: enhancement, scripting

#4542 Multi collision fix (ship-ship) collisions
  code/network/multi_interpolate.cpp
  code/network/multi_interpolate.h
  code/network/multi_obj.cpp
  code/network/multi_obj.h
  code/object/object.cpp
Labels: fix, multi

#4427 Ai goal refinement
  code/ai/ai.h
  code/ai/aigoals.cpp
  code/ai/aigoals.h
  code/autopilot/autopilot.cpp
  code/mission/missionparse.cpp
  code/parse/sexp.cpp
Labels: enhancement, cleanup

#4549 Lua error if they try to change turret num fire points
  code/scripting/api/objs/subsystem.cpp
Labels: cleanup, scripting

#4539 Script function for turnTowardsPoint
  code/scripting/api/objs/ship.cpp
Labels: enhancement, scripting

#4536 Add options to selectively disable shadows
  code/graphics/shadows.cpp
  code/graphics/shadows.h
  code/menuui/techmenu.cpp
  code/missionui/missionbrief.cpp
  code/missionui/missionscreencommon.cpp
  code/missionui/missionweaponchoice.cpp
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/ship/ship.cpp
Labels: graphics

#4548 Add scripting API and conditions for executing on server only
  code/scripting/api/libs/multi.cpp
  code/scripting/api/libs/multi.h
  code/scripting/scripting.cpp
  code/scripting/scripting.h
  code/source_groups.cmake
Labels: multi, scripting

#4540 Script function for turret fov testing on positions
  code/scripting/api/objs/subsystem.cpp
Labels: enhancement, scripting

#4537 Prevent subsystem `fireWeapon` scripting function from triggering an assert
  code/scripting/api/objs/subsystem.cpp
Labels: fix, scripting

#4421 add missing SEXP goals
  code/ai/aigoals.cpp
  code/ai/aigoals.h
  code/def_files/data/tables/objecttypes.tbl
  code/parse/sexp.cpp
  code/parse/sexp.h
  fred2/missionsave.cpp
  qtfred/src/mission/missionsave.cpp
Labels: enhancement, sexps

#4556 Fix: Missing includes breaking Linux builds. Including the same thing twice in a row. A completely unnecessary recursive include loop.
  code/math/floating.h
Labels: cleanup, fix

#4551 Lua scan time
  code/scripting/api/objs/shipclass.cpp
Labels: enhancement, scripting

#4559 Fix WeaponClass Script Condition
  code/scripting/scripting.cpp
Labels: regression, fix, scripting

#4566 Add SEXP to stop an animation after loop
  code/ai/aicode.cpp
  code/ai/aiturret.cpp
  code/lab/dialogs/actions.cpp
  code/model/modelanimation.cpp
  code/model/modelanimation.h
  code/model/modelread.cpp
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/scripting/api/objs/ship.cpp
  code/scripting/api/objs/weapon.cpp
  code/ship/afterburner.cpp
  code/ship/ship.cpp
  code/weapon/weapons.cpp
  fred2/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.cpp
Labels: enhancement, cleanup, models

#4553 Allows default shadow quality to be per mod
  code/cmdline/cmdline.cpp
  code/graphics/shadows.cpp
  code/graphics/shadows.h
  code/mod_table/mod_table.cpp
Labels: enhancement, graphics

#4567 fix stepped rotation
  code/model/modelread.cpp
Labels: fix

#4570 Mouse option strings
  code/io/mouse.cpp
Labels: fix, scripting

#4554 Add hook just before loadout parsing
  code/mission/missionparse.cpp
Labels: enhancement, scripting

#4555 Implement ability to get and set a ship's persona index
  code/scripting/api/objs/ship.cpp
Labels: enhancement, scripting

#4563 Add turnTowardsOrientation
  code/scripting/api/objs/ai_helper.cpp
Labels: scripting

#4575 Prioritize players in object update
  code/network/multi_obj.cpp
Labels: fix, multi

#4576 Fix setting of `$Shadow Quality Default:`
  code/mod_table/mod_table.cpp
Labels: fix

#4558 Fix dangling pointer in hudparse.cpp
  code/hud/hudparse.cpp
Labels: cleanup, fix

#4561 Fix dangling pointer in sexp.cpp
  code/parse/sexp.cpp
Labels: cleanup, fix, multi

#4557 Cap lab zoom distance
  code/lab/renderer/lab_cameras.cpp
Labels: fix

#4572 Allow changing Animation Instance speed
  code/model/modelanimation.cpp
  code/model/modelanimation.h
  code/scripting/api/objs/ship.cpp
Labels: enhancement, models

#4580 Fix Animation Addressing Typo causing crashes for certain trigger types
  code/model/modelanimation.cpp
Labels: regression, fix

#4397 add new hooks for each object type
  code/asteroid/asteroid.cpp
  code/debris/debris.cpp
  code/scripting/global_hooks.cpp
  code/scripting/global_hooks.h
  code/ship/ship.cpp
  code/ship/ship.h
  code/ship/shiphit.cpp
  code/weapon/weapons.cpp
Labels: fix, scripting

#4581 add missing hud_gauges.tbl options
  code/hud/hudparse.cpp
Labels: enhancement, HUD

#4571 Make cutscenes.tbl extendable with -csn.tbm
  code/cutscene/cutscenes.cpp
Labels: enhancement, Modding Tools

#4585 fix overriding of originally-empty sounds
  code/gamesnd/gamesnd.cpp
Labels: fix, sound

#4578 Script function for `turnTowardsOrientation`
  code/scripting/api/objs/ship.cpp
Labels: enhancement, ai, scripting

#4584 Scripting functions necessary for SCPUI Fiction Viewer
  code/missionui/fictionviewer.h
  code/scripting/api/libs/mission.cpp
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/fictionviewer.cpp
  code/scripting/api/objs/fictionviewer.h
  code/source_groups.cmake
Labels: enhancement, ui, scripting

#4469 Voice acting manager enhancements
  fred2/eventeditor.cpp
  fred2/eventeditor.h
  fred2/fred.rc
  fred2/resource.h
  fred2/voiceactingmanager.cpp
  fred2/voiceactingmanager.h
Labels: enhancement, fred

#4594 Fix documentation
  code/scripting/api/objs/fictionviewer.cpp
Labels: documentation

#4596 Allow `test_line_of_sight` to return intersecting object signature
  code/ai/ai.h
  code/ai/aicode.cpp
  code/scripting/api/libs/mission.cpp
Labels: enhancement, ai, scripting

#4597 Base method to determine Debug vs Release
  code/scripting/api/libs/base.cpp
Labels: general modding, scripting

#4560 floating-point followup
  code/ai/aibig.cpp
  code/ai/aicode.cpp
  code/hud/hudconfig.cpp
  code/math/floating.h
  code/math/vecmat.h
  code/model/modelread.cpp
  code/physics/physics.cpp
  code/ship/ship.cpp
Labels: enhancement, cleanup

#4586 Scripting functions required for SCPUI conversion of Loop Brief.
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/loop_brief.cpp
  code/scripting/api/objs/loop_brief.h
  code/source_groups.cmake
Labels: enhancement, ui, scripting

#4598 Some extra safety checks for fiction viewer scripts
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/fictionviewer.cpp
Labels: cleanup, ui, scripting

#4587 Scripting functions required for SCPUI conversion of Red Alert
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/redalert.cpp
  code/scripting/api/objs/redalert.h
  code/source_groups.cmake
Labels: enhancement, ui, scripting

#4595 Some User Interface API cleanup and generalization
  code/scripting/api/libs/ui.cpp
Labels: enhancement, general modding

#4569 convert some timestamps to the new system
  code/asteroid/asteroid.cpp
  code/asteroid/asteroid.h
  code/debris/debris.cpp
  code/debris/debris.h
  code/io/timer.h
  code/object/object.cpp
  code/scripting/api/objs/debris.cpp
  code/ship/ship.cpp
  code/ship/ship.h
  code/ship/shipfx.cpp
Labels: cleanup, timer/timestamp

#4600 This should be func not virtvar
  code/scripting/api/libs/ui.cpp
Labels: fix, ui, scripting

#4601 fix good-rearm-time bug
  code/ai/ai_flags.h
  code/ai/ai_profiles.cpp
  code/ai/aicode.cpp
  code/iff_defs/iff_defs.cpp
  code/iff_defs/iff_defs.h
Labels: fix, ai

#4582 Model translation
  code/ai/aicode.cpp
  code/lab/dialogs/render_options.cpp
  code/lab/renderer/lab_renderer.cpp
  code/lab/renderer/lab_renderer.h
  code/model/model.h
  code/model/model_flags.h
  code/model/modelanimation.cpp
  code/model/modelcollide.cpp
  code/model/modelread.cpp
  code/model/modelrender.cpp
  code/network/multi.h
  code/network/multi_obj.cpp
  code/network/multi_obj.h
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/scripting/api/objs/modelinstance.cpp
  code/scripting/api/objs/subsystem.cpp
  code/ship/ship.cpp
  code/ship/ship_flags.h
  code/ship/shipfx.cpp
  fred2/fredrender.cpp
  fred2/sexp_tree.cpp
Labels: sexps, models, feature

#4565 Add $Mod Title and $Mod Version options to game_settings.tbl
  code/menuui/mainhallmenu.cpp
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/scripting/api/libs/base.cpp
Labels: enhancement, general modding, scripting

#4605 Associate only a single pof version to submodel translation
  code/model/modelread.cpp
Labels: cleanup, models
