Repository scp-fs2open/fs2open.github.com, pull requests merged in 2022-09, with the labels that each got.

#4606 prepend PXO game identity to chat lobby window
  code/network/multi_pxo.cpp
Labels: multi

#4610 handle irc motd error to prevent connection hang
  code/network/chat_api.cpp
Labels: multi

#4607 Allow mods to change Emp flash color, intensity, and string
  code/hud/hud.cpp
  code/localization/localize.cpp
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/weapon/emp.cpp
Labels: enhancement, fix

#4543 Add optional Drop Shadows to HUD
  code/controlconfig/controlsconfig.h
  code/controlconfig/controlsconfigcommon.cpp
  code/hud/hud.cpp
  code/hud/hud.h
  code/hud/hudets.cpp
  code/hud/hudreticle.cpp
  code/io/keycontrol.cpp
  code/scripting/api/objs/control_info.cpp
Labels: enhancement, HUD

#4608 Allow assigning support ship per species
  code/mission/missionparse.cpp
  code/ship/ship.cpp
  code/species_defs/species_defs.cpp
  code/species_defs/species_defs.h
Labels: enhancement, general modding

#4609 Respect hashes in ship and wing names in the loadout screen
  code/missionui/missionshipchoice.cpp
Labels: enhancement, general modding

#4552 enhanced control for the global ship shudder
  code/parse/sexp.cpp
  code/scripting/api/libs/mission.cpp
  fred2/fredstubs.cpp
  freespace2/freespace.cpp
  freespace2/freespace.h
  qtfred/src/fredstubs.cpp
  test/src/test_stubs.cpp
Labels: enhancement, sexps, scripting

#4590 Virtual / Modular POFs
  code/globalincs/vmallocator.h
  code/model/model.h
  code/model/modelinterp.cpp
  code/model/modelread.cpp
  code/model/modelreplace.cpp
  code/model/modelreplace.h
  code/network/multi.cpp
  code/parse/parselo.cpp
  code/parse/parselo.h
  code/ship/ship.cpp
  code/source_groups.cmake
  fred2/management.cpp
  freespace2/freespace.cpp
  qtfred/src/mission/management.cpp
Labels: general modding, models, feature

#4592 Remove unused and costly checksum during model read
  code/model/modelread.cpp
Labels: cleanup

#4577 Enable LuaAI to use more arguments
  code/ai/ai.h
  code/ai/aigoals.cpp
  code/ai/aigoals.h
  code/ai/ailua.cpp
  code/ai/ailua.h
  code/globalincs/systemvars.h
  code/hud/hudsquadmsg.cpp
  code/parse/sexp/DynamicSEXP.h
  code/parse/sexp/EngineSEXP.cpp
  code/parse/sexp/EngineSEXP.h
  code/parse/sexp/LuaAISEXP.cpp
  code/parse/sexp/LuaAISEXP.h
  code/parse/sexp/LuaSEXP.cpp
  code/parse/sexp/LuaSEXP.h
  code/scripting/api/objs/luaaisexp.cpp
Labels: enhancement, ai, scripting

#4583 Fix cfread string's handling of null terminated strings
  code/cfile/cfile.cpp
  code/cfile/cfile.h
  code/model/modelread.cpp
Labels: cleanup, fix

#4618 add Radius virtvar for objects
  code/scripting/api/objs/object.cpp
Labels: enhancement, scripting

#4521 mission-specific cutscene enhancements
  code/mission/missionparse.cpp
  code/mission/missionparse.h
  code/scripting/api/objs/enums.cpp
  code/scripting/api/objs/enums.h
  fred2/missionsave.cpp
  freespace2/freespace.cpp
  qtfred/src/mission/missionsave.cpp
Labels: enhancement

#4613 Add interpolate matrices for multi
  code/math/vecmat.cpp
  code/math/vecmat.h
  code/network/multi_interpolate.cpp
  code/network/multi_interpolate.h
Labels: enhancement, multi, physics

#4622 Prevent closed thread from Video Player from re-closing
  code/cutscene/player.cpp
Labels: fix

#4619 Implement a proper std::optional alternative
  code/CMakeLists.txt
  code/model/modelanimation.cpp
  code/model/modelanimation.h
  code/model/modelanimation_moveables.cpp
  code/model/modelanimation_moveables.h
  code/model/modelanimation_segments.cpp
  code/model/modelanimation_segments.h
  code/model/modelreplace.cpp
  code/model/modelreplace.h
  lib/CMakeLists.txt
  lib/optional/CMakeLists.txt
  lib/optional/COPYING
  lib/optional/README.md
  lib/optional/include/tl/optional.hpp
Labels: cleanup

#4624 Small fix for banking using AI functions
  code/math/vecmat.cpp
Labels: fix, ai, scripting

#4617 Automatic thruster activation
  code/ship/ship.cpp
Labels: enhancement, graphics, gameplay, feature

#4629 rotational interpolation
  code/math/vecmat.cpp
  code/math/vecmat.h
  code/scripting/api/objs/vecmath.cpp
Labels: scripting, feature

#4579 Implement renderTechModel() and renderTechModel2() for weapons
  code/scripting/api/objs/weaponclass.cpp
  code/weapon/weapon.h
Labels: enhancement

#4528 Add default shockwave damage types functionality.
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/ship/ship.cpp
  code/ship/ship.h
  code/weapon/weapons.cpp
Labels: enhancement, general modding

#4625 fix subtitle clipping
  code/camera/camera.cpp
Labels: fix, discussion, graphics

#4411 New options for lead indicators
  code/hud/hudtarget.cpp
  code/hud/hudtarget.h
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/weapon/weapon_flags.h
  code/weapon/weapons.cpp
Labels: enhancement, HUD, Requested by Active Mod

#4639 Fix conditional for `Always_warn_player_about_unbound_keys`
  code/mission/missiontraining.cpp
Labels: fix

#4636 properly account for string sizes in debrief_choose_voice
  code/missionui/missiondebrief.cpp
Labels: fix

#4638 Allow Autotarget to get new target when current target is deathrolling
  code/hud/hud.cpp
Labels: gameplay

#4641 Add Angle SEXPs
  code/parse/sexp.cpp
  code/parse/sexp.h
Labels: sexps

#4645 fix script conditions for ships
  code/scripting/scripting.cpp
Labels: regression, fix, scripting

#4642 Auto Truncate default ship names
  code/ship/ship.cpp
Labels: cleanup, fred

#4644 remove two unnecessary asserts
  code/parse/sexp.cpp
Labels: cleanup, sexps

#4602 SCPUI API elements required for the Briefing
  code/scpui/elements/ScrollingTextElement.cpp
  code/scpui/elements/ScrollingTextElement.h
  code/scripting/api/libs/mission.cpp
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/briefing.cpp
  code/scripting/api/objs/briefing.h
  code/source_groups.cmake
Labels: enhancement, ui, scripting

#4643 small hook refactor
  code/scripting/scripting.cpp
  code/scripting/scripting.h
Labels: cleanup, scripting

#4591 Scripting functions required for SCPUI conversion of all four Tech Room UIs
  code/menuui/credits.cpp
  code/menuui/credits.h
  code/menuui/readyroom.cpp
  code/menuui/readyroom.h
  code/missionui/missionscreencommon.cpp
  code/missionui/missionscreencommon.h
  code/scripting/api/libs/mission.cpp
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/techroom.cpp
  code/scripting/api/objs/techroom.h
  code/source_groups.cmake
Labels: enhancement, ui, scripting

#4646 Fix the cmd_briefing scripting API
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/cmd_brief.cpp
  code/scripting/api/objs/cmd_brief.h
Labels: cleanup, fix, ui, scripting, documentation

#4649 Cleanup Fiction, Red Alert, and Loop Brief
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/fictionviewer.cpp
  code/scripting/api/objs/fictionviewer.h
  code/scripting/api/objs/loop_brief.cpp
  code/scripting/api/objs/loop_brief.h
  code/scripting/api/objs/redalert.cpp
  code/scripting/api/objs/redalert.h
Labels: cleanup, ui, scripting

#4302 Crossing the specular rubicon
  code/cmdline/cmdline.cpp
  code/cmdline/cmdline.h
  code/def_files/data/effects/deferred-f.sdr
  code/def_files/data/effects/deferred-v.sdr
  code/def_files/data/effects/main-f.sdr
  code/def_files/data/effects/main-g.sdr
  code/def_files/data/effects/main-v.sdr
  code/graphics/decal_draw_list.cpp
  code/graphics/light.cpp
  code/graphics/light.h
  code/graphics/opengl/gropengldeferred.cpp
  code/graphics/uniforms.cpp
  code/graphics/util/uniform_structs.h
  code/lab/dialogs/render_options.cpp
  code/lab/renderer/lab_renderer.h
  code/lighting/lighting.cpp
  code/lighting/lighting.h
  code/lighting/lighting_profiles.cpp
  code/lighting/lighting_profiles.h
  code/menuui/techmenu.cpp
  code/missionui/missionbrief.cpp
  code/missionui/missionscreencommon.cpp
  code/missionui/missionscreencommon.h
  code/missionui/missionweaponchoice.cpp
  code/model/modelinterp.cpp
  code/model/modelrender.cpp
  code/scripting/api/objs/shipclass.cpp
  code/starfield/starfield.cpp
Labels: enhancement, graphics

#4655 improve huge_fire_info lookup
  code/ai/aicode.cpp
  code/ship/ship.cpp
  code/ship/ship.h
Labels: cleanup

#4603 more timestamp migration
  code/actions/common.h
  code/actions/types/WaitAction.cpp
  code/autopilot/autopilot.cpp
  code/autopilot/autopilot.h
  code/controlconfig/controlsconfig.cpp
  code/hud/hudartillery.cpp
  code/hud/hudartillery.h
  code/io/joy-sdl.cpp
  code/io/joy.h
  code/io/timer.cpp
  code/io/timer.h
  code/object/objectsnd.cpp
  code/parse/sexp.cpp
Labels: cleanup, timer/timestamp

#4599 Implemented a command line flag that forces a fixed RNG seed,
  code/cmdline/cmdline.cpp
  freespace2/freespace.cpp
Labels: enhancement

#4652 Improved shaders and image based lighting
  code/bmpman/bmpman.cpp
  code/bmpman/bmpman.h
  code/def_files/data/effects/deferred-f.sdr
  code/def_files/data/effects/irrmap-f.sdr
  code/def_files/data/effects/lighting.sdr
  code/def_files/data/effects/main-f.sdr
  code/def_files/data/effects/main-g.sdr
  code/def_files/data/effects/main-v.sdr
  code/graphics/2d.cpp
  code/graphics/2d.h
  code/graphics/material.cpp
  code/graphics/opengl/gropengl.cpp
  code/graphics/opengl/gropengldraw.cpp
  code/graphics/opengl/gropengldraw.h
  code/graphics/opengl/gropenglshader.cpp
  code/graphics/opengl/gropengltnl.cpp
  code/graphics/util/uniform_structs.h
  code/model/modelread.cpp
  code/source_groups.cmake
  code/starfield/starfield.cpp
Labels: enhancement, graphics

#4653 Improved beam, blob and warp lighting
  code/def_files/data/effects/deferred-f.sdr
  code/def_files/data/effects/deferred-v.sdr
  code/def_files/data/effects/lighting.sdr
  code/def_files/data/effects/main-f.sdr
  code/def_files/data/effects/main-g.sdr
  code/def_files/data/effects/main-v.sdr
  code/graphics/light.cpp
  code/graphics/opengl/gropengldeferred.cpp
  code/graphics/util/uniform_structs.h
  code/lighting/lighting.cpp
  code/lighting/lighting.h
  code/model/modelrender.cpp
  code/object/object.cpp
  code/weapon/beam.cpp
Labels: enhancement, graphics

#4640 several minor HUD enhancements
  code/hud/hud.cpp
  code/hud/hud.h
  code/mission/missiontraining.cpp
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/scripting/api/libs/hud.cpp
  code/scripting/api/objs/hudgauge.cpp
  fred2/sexp_tree.cpp
  fred2/sexp_tree.h
  qtfred/src/ui/widgets/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.h
Labels: enhancement, HUD, scripting

#4620 Properly encapsulate special flag parsing
  code/globalincs/pstypes.h
  code/globalincs/vmallocator.h
  code/parse/parselo.h
  code/weapon/weapon.h
  code/weapon/weapons.cpp
Labels: cleanup

#4657 additional polishing of the briefing API
  code/missionui/missionbrief.cpp
  code/scripting/api/libs/graphics.cpp
  code/scripting/api/libs/mission.cpp
  code/scripting/api/libs/testing.cpp
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/briefing.cpp
  code/scripting/api/objs/briefing.h
  code/scripting/api/objs/control_info.cpp
Labels: cleanup, fix, ui, scripting

#4658 Fix Animation 3D Sound
  code/model/modelanimation_segments.cpp
  code/model/modelanimation_segments.h
Labels: fix, sound, models

#4662 Fix smart spawn flag
  code/weapon/weapons.cpp
Labels: fix

#4647 better adjustment of timestamp delta
  freespace2/freespace.cpp
Labels: cleanup, fix, timer/timestamp

#3445 Add optional deferred lighting pass for cockpits
  code/cmdline/cmdline.cpp
  code/cmdline/cmdline.h
  code/graphics/2d.h
  code/graphics/grstub.cpp
  code/graphics/opengl/gropengldeferred.cpp
  code/graphics/opengl/gropengldeferred.h
  code/graphics/shadows.cpp
  code/graphics/shadows.h
  code/graphics/uniforms.cpp
  code/graphics/vulkan/vulkan_stubs.cpp
  code/object/objectsort.cpp
  code/ship/ship.cpp
Labels: enhancement, graphics, Requested by Active Mod

#4336 Add release CI config for Mac
  .github/workflows/build-release.yaml
  .github/workflows/post-build-release.yaml
Labels: ci

#4237 QTFRED: Ship Editor Cleanup 2
  qtfred/source_groups.cmake
  qtfred/src/mission/dialogs/PlayerOrdersDialogModel.cpp
  qtfred/src/mission/dialogs/PlayerOrdersDialogModel.h
  qtfred/src/mission/dialogs/ShipEditorDialogModel.cpp
  qtfred/src/mission/dialogs/ShipEditorDialogModel.h
  qtfred/src/mission/dialogs/ShipFlagsDialogModel.cpp
  qtfred/src/mission/dialogs/ShipFlagsDialogModel.h
  qtfred/src/mission/dialogs/ShipGoalsDialogModel.cpp
  qtfred/src/mission/dialogs/ShipGoalsDialogModel.h
  qtfred/src/mission/dialogs/ShipInitialStatusDialogModel.cpp
  qtfred/src/mission/dialogs/ShipInitialStatusDialogModel.h
  qtfred/src/mission/dialogs/ShipSpecialStatsDialogModel.cpp
  qtfred/src/mission/dialogs/ShipSpecialStatsDialogModel.h
  qtfred/src/mission/dialogs/ShipTextureReplacementDialogModel.cpp
  qtfred/src/mission/dialogs/ShipTextureReplacementDialogModel.h
  qtfred/src/ui/dialogs/PlayerOrdersDialog.cpp
  qtfred/src/ui/dialogs/PlayerOrdersDialog.h
  qtfred/src/ui/dialogs/ShipEditorDialog.cpp
  qtfred/src/ui/dialogs/ShipEditorDialog.h
  qtfred/src/ui/dialogs/ShipFlagsDialog.cpp
  qtfred/src/ui/dialogs/ShipFlagsDialog.h
  qtfred/src/ui/dialogs/ShipGoalsDialog.cpp
  qtfred/src/ui/dialogs/ShipGoalsDialog.h
  qtfred/src/ui/dialogs/ShipInitialStatusDialog.cpp
  qtfred/src/ui/dialogs/ShipInitialStatusDialog.h
  qtfred/src/ui/dialogs/ShipSpecialStatsDialog.cpp
  qtfred/src/ui/dialogs/ShipSpecialStatsDialog.h
  qtfred/src/ui/dialogs/ShipTextureReplacementDialog.cpp
  qtfred/src/ui/dialogs/ShipTextureReplacementDialog.h
  qtfred/ui/ShipEditorDialog.ui
  qtfred/ui/ShipFlagsDialog.ui
  qtfred/ui/ShipInitialStatus.ui
Labels: cleanup, qtfred, required feature

#4668 add stopLoopingSubmodelAnimation
  code/scripting/api/objs/ship.cpp
Labels: enhancement, scripting, models

#4663 lighting followup
  code/starfield/starfield.cpp
Labels: cleanup, fix

#4667 Flag for seamless animations with startup period
  code/model/modelanimation.cpp
  code/model/modelanimation.h
Labels: enhancement, models

#4615 Scpui API debriefing library
  code/missionui/missiondebrief.cpp
  code/missionui/missiondebrief.h
  code/scripting/api/libs/mission.cpp
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/debriefing.cpp
  code/scripting/api/objs/debriefing.h
  code/scripting/api/objs/player.cpp
  code/source_groups.cmake
Labels: enhancement, ui, scripting

#4673 a couple of animation fixes
  code/model/modelanimation.cpp
Labels: fix, models

#4671 add -dualscanlines as a HUD config option
  code/cmdline/cmdline.cpp
  code/hud/hudparse.cpp
  code/hud/hudtargetbox.cpp
  code/hud/hudtargetbox.h
Labels: enhancement, HUD

#4676 Fix VS Warning
  code/ship/ship.cpp
Labels: cleanup

#4677 Add Absolute Translation
  code/model/modelanimation_segments.cpp
  code/model/modelanimation_segments.h
Labels: enhancement, models

#4669 Allow movies to be alpha blended through the LUA Movie Player API
  code/cutscene/VideoPresenter.cpp
  code/cutscene/VideoPresenter.h
  code/cutscene/player.cpp
  code/cutscene/player.h
  code/def_files/data/effects/video-f.sdr
  code/graphics/2d.h
  code/graphics/material.cpp
  code/graphics/material.h
  code/graphics/opengl/gropenglshader.cpp
  code/graphics/opengl/gropengltnl.cpp
  code/graphics/util/UniformBufferManager.cpp
  code/graphics/util/uniform_structs.h
  code/scripting/api/objs/movie_player.cpp
Labels: enhancement, scripting, Requested by Active Mod

#4688 fix cargo scan type parsing
  code/hud/hudparse.cpp
Labels: fix, HUD

#4689 These go here
  code/source_groups.cmake
Labels: cleanup, ui, scripting

#4685 Update max priority for scripting AIgoals
  code/scripting/api/objs/ship.cpp
Labels: fix, scripting

#4683 Allow modifying map container data when the map is an argument
  code/parse/sexp_container.cpp
Labels: fix, sexps

#4679 Allow API to optionally not start the next mission.
  code/scripting/api/libs/ui.cpp
Labels: enhancement, ui, scripting

#4682 Mission time
  code/scripting/api/libs/mission.cpp
Labels: scripting

#4664 use queued rendering instead of immediate rendering for scripts
  code/object/object.cpp
  code/scripting/api/libs/graphics.cpp
  code/scripting/api/libs/graphics.h
Labels: fix, graphics, scripting

#4684 add setFlag and getFlag for ships and parse objects
  code/parse/sexp.cpp
  code/scripting/api/libs/mission.cpp
  code/scripting/api/objs/parse_object.cpp
  code/scripting/api/objs/ship.cpp
  code/ship/ship.cpp
Labels: enhancement, scripting, Requested by Active Mod

#4681 -luadev flag and lua log filter
  code/cmdline/cmdline.cpp
  code/cmdline/cmdline.h
  code/osapi/dialogs.cpp
  code/osapi/outwnd.cpp
  code/scripting/api/libs/base.cpp
Labels: scripting

#4687 Give Lua access to the select anims and images
  code/scripting/api/objs/shipclass.cpp
  code/scripting/api/objs/weaponclass.cpp
Labels: enhancement, ui, scripting

#4692 Fix multi lib
  code/scripting/lua.cpp
Labels: fix, scripting

#4656 Scpui api briefing map
  code/mission/missionbriefcommon.cpp
  code/mission/missionbriefcommon.h
  code/missionui/missionbrief.cpp
  code/missionui/missionbrief.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/briefing.cpp
Labels: enhancement, ui, scripting

#4695 a few more script enhancements
  code/parse/sexp.cpp
  code/scripting/api/objs/model.cpp
  code/scripting/api/objs/ship.cpp
  code/scripting/api/objs/subsystem.cpp
  code/ship/ship.cpp
Labels: enhancement, scripting, Requested by Active Mod

#4633 convert event-related timestamps to new system
  code/mission/missiongoals.cpp
  code/mission/missiongoals.h
  code/mission/missiontraining.cpp
  code/network/multimsgs.cpp
  code/parse/sexp.cpp
Labels: cleanup, timer/timestamp

#4699 Fix lighting flickering on specmap-less models
  code/graphics/uniforms.cpp
Labels: fix, graphics

#4700 Unify the two forms of default filters and consolidate the new lua category into scripting
  code/osapi/dialogs.cpp
  code/osapi/outwnd.cpp
  code/scripting/api/libs/base.cpp
Labels: fix

#4690 Adds a cache for modular POFs
  code/globalincs/safe_strings.h
  code/model/model.h
  code/model/modelinterp.cpp
  code/model/modelread.cpp
  code/model/modelreplace.cpp
  code/model/modelreplace.h
  code/sound/speech.cpp
  code/sound/voicerec.cpp
Labels: cleanup, models

#4705 Merge Show Ship and Cockpit Renderpasses
  code/graphics/opengl/gropengldeferred.cpp
  code/lighting/lighting.cpp
  code/lighting/lighting.h
  code/lighting/lighting_profiles.cpp
  code/lighting/lighting_profiles.h
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/ship/ship.cpp
  code/ship/ship.h
  freespace2/freespace.cpp
Labels: enhancement, cleanup, graphics, refactor, Requested by Active Mod

#4694 Scpui ship select
  code/missionui/missionshipchoice.cpp
  code/missionui/missionshipchoice.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/shipwepselect.cpp
  code/scripting/api/objs/shipwepselect.h
  code/source_groups.cmake
Labels: enhancement, ui, scripting

#4714 Flag to turn off continuous turn when attacking
  code/ai/ai_flags.h
  code/ai/ai_profiles.cpp
  code/ai/aibig.cpp
Labels: enhancement, fix, ai

#4707 fix off-by-one error in Lua line numbering
  code/scripting/scripting.cpp
Labels: cleanup, fix, scripting

#4708 Make sure immobile objects always have 0 velocity
  code/object/collideshipship.cpp
  code/object/object.cpp
Labels: bug, physics

#4712 Lua API read-only access to the actual loadout
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/shipwepselect.cpp
  code/scripting/api/objs/shipwepselect.h
Labels: enhancement, ui, scripting

#4650 Add corrections in multi ship record
  code/network/multi_interpolate.cpp
  code/network/multi_interpolate.h
  code/network/multi_obj.cpp
  code/network/multi_obj.h
  code/network/multi_time_manager.h
  code/object/object.cpp
Labels: enhancement, multi, Requested by Active Mod

#4701 Prevent dangling threads from crashing FSO on close
  code/scripting/lua/LuaTable.cpp
  code/scripting/lua/LuaTable.h
  code/scripting/lua/LuaThread.cpp
  code/scripting/lua/LuaThread.h
Labels: fix, scripting

#4716 Minor fix for 0 duration animated effects
  code/ship/ship.cpp
Labels: fix, graphics

#4479 Allow turrets to use their firepoints for target-leading calculations
  code/ai/aiturret.cpp
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/model/model_flags.h
  code/ship/ship.cpp
Labels: gameplay, ai

#4697 API access to weapons allowed on a ship class and/or in a specific bank
  code/scripting/api/objs/shipclass.cpp
Labels: enhancement, scripting

#4698 Scpui loadout pools
  code/scripting/api/libs/ui.cpp
Labels: enhancement, scripting

#4721 API access to the remaining ship class strings
  code/scripting/api/objs/shipclass.cpp
Labels: enhancement, ui, scripting

#4725 isDisabled returns if the ship is used in the mission
  code/missionui/missionshipchoice.cpp
  code/missionui/missionshipchoice.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/shipwepselect.cpp
Labels: fix, ui, scripting

#4719 Reset loadout to default and handle commit mission error returns
  code/missionui/missionscreencommon.h
  code/missionui/missionshipchoice.cpp
  code/missionui/missionshipchoice.h
  code/missionui/missionweaponchoice.h
  code/network/multiteamselect.cpp
  code/scripting/api/libs/ui.cpp
Labels: enhancement, scripting

#4728 return the actual number of starting wings
  code/missionui/missionshipchoice.cpp
  code/scripting/api/libs/ui.cpp
Labels: cleanup, scripting

#4729 API for checking and setting if a slot is filled or empty
  code/scripting/api/objs/shipwepselect.cpp
Labels: enhancement, scripting

#4730 Handle errors from create_wings() in an API friendly way
  code/missionui/missionscreencommon.h
  code/missionui/missionshipchoice.cpp
  code/network/multiui.cpp
  code/scripting/api/libs/ui.cpp
Labels: cleanup, scripting

#4724 Add $On mouse wheel hook
  code/io/mouse.cpp
  code/io/mouse.h
Labels: enhancement, scripting

#4720 Fix Remove-Order not working for Play Dead Orders
  code/ai/ai_flags.h
  code/ai/ai_profiles.cpp
  code/ai/aigoals.cpp
Labels: fix, discussion, ai, Requested by Active Mod

#4726 flip decals right-side up
  code/decals/decals.cpp
Labels: fix, graphics

#4732 Add local coordinate relations to allow restoring old absolute behaviour
  code/model/modelanimation.cpp
  code/model/modelanimation.h
  code/model/modelanimation_moveables.cpp
  code/model/modelanimation_segments.cpp
  code/model/modelanimation_segments.h
Labels: models, Requested by Active Mod
