Repository scp-fs2open/fs2open.github.com, pull requests merged in 2022-10, with the labels that each got.

#4736 take userdata and return int
  code/scripting/api/objs/shipclass.cpp
Labels: fix, scripting

#4734 Only check for greater than, not equal to
  code/scripting/api/objs/shipclass.cpp
Labels: fix, scripting

#4740 primary -> secondary
  code/scripting/api/objs/shipclass.cpp
Labels: fix, scripting

#4733 Add AI flag to support ai bay arrivals > 10 seconds
  code/ai/ai_flags.h
  code/ai/ai_profiles.cpp
  code/ai/aicode.cpp
Labels: fix, ai

#4735 When rendering stuff outside of ON OBJECT RENDER hooks, use immediate mode
  code/scripting/api/libs/graphics.cpp
Labels: fix, graphics

#4739 API to save the current loadout to the player file
  code/scripting/api/libs/ui.cpp
Labels: enhancement, ui, scripting

#4731 Check if weapon is required by current mission
  code/scripting/api/objs/weaponclass.cpp
Labels: enhancement, scripting

#4744 add WaypointSpeedCap
  code/scripting/api/objs/ship.cpp
Labels: enhancement, scripting, Requested by Active Mod

#4738 Add screenToBlob scripting function
  code/graphics/2d.h
  code/graphics/grstub.cpp
  code/graphics/opengl/gropengl.cpp
  code/graphics/vulkan/vulkan_stubs.cpp
  code/network/stand_gui-unix.cpp
  code/pngutils/pngutils.cpp
  code/pngutils/pngutils.h
  code/scripting/api/libs/graphics.cpp
  code/source_groups.cmake
  code/utils/base64.cpp
  code/utils/base64.h
Labels: enhancement, graphics, ui, scripting

#4737 Api to render the 3d selection effect
  code/missionui/missionscreencommon.cpp
  code/missionui/missionscreencommon.h
  code/scripting/api/objs/shipclass.cpp
  code/scripting/api/objs/weaponclass.cpp
Labels: enhancement, ui, scripting

#4703 upgrade controls code to use type-safe timestamps
  code/controlconfig/controlsconfig.cpp
  code/controlconfig/controlsconfig.h
  code/controlconfig/controlsconfigcommon.cpp
  code/parse/sexp.cpp
  fred2/fredstubs.cpp
  freespace2/freespace.cpp
  freespace2/freespace.h
  qtfred/src/fredstubs.cpp
  test/src/test_stubs.cpp
Labels: controls, timer/timestamp

#4741 Added an API function to allow clearing the log during play.
  code/scripting/api/libs/engine.cpp
Labels: enhancement, scripting

#4750 add getMusicScore and setMusicScore
  code/gamesnd/eventmusic.cpp
  code/gamesnd/eventmusic.h
  code/mission/missionparse.cpp
  code/missionui/missiondebrief.cpp
  code/network/multi_dogfight.cpp
  code/scripting/api/libs/mission.cpp
  code/scripting/api/objs/enums.cpp
  code/scripting/api/objs/enums.h
  fred2/debriefingeditordlg.cpp
  fred2/missionsave.cpp
  qtfred/src/mission/missionsave.cpp
Labels: enhancement, scripting

#4749 Move rendering of the 3d overhead to it's own method and create an api
  code/missionui/missionweaponchoice.cpp
  code/missionui/missionweaponchoice.h
  code/scripting/api/objs/shipclass.cpp
Labels: enhancement, ui, scripting

#4751 Ship/Wing arrival script functions
  code/mission/missionparse.cpp
  code/mission/missionparse.h
  code/network/multi_ingame.cpp
  code/network/multimsgs.cpp
  code/scripting/api/objs/parse_object.cpp
  code/scripting/api/objs/wing.cpp
Labels: enhancement, scripting

#4747 fix and clean up cf_create_default_path_string()
  code/cfile/cfile.cpp
  code/cfile/cfilesystem.cpp
  code/inetfile/inetgetfile.cpp
  fred2/freddoc.cpp
Labels: cleanup, fix

#4758 fix a last-minute error check
  code/mission/missionparse.cpp
Labels: fix

#4760 removeSoundByIndex should be 1-based
  code/scripting/api/objs/object.cpp
Labels: cleanup, sound, scripting

#4754 Enable PNG blobs in LibRocket
  code/pngutils/pngutils.cpp
  code/pngutils/pngutils.h
  code/scpui/RocketRenderingInterface.cpp
Labels: enhancement, ui

#4757 make animated ship effects use the new timestamps
  code/object/objectsort.cpp
  code/parse/sexp.cpp
  code/scripting/api/objs/ship.cpp
  code/ship/ship.cpp
  code/ship/ship.h
Labels: cleanup, timer/timestamp

#4765 Fix one missed resize mode
  code/mission/missionbriefcommon.cpp
Labels: fix, scripting

#4702 Moved more things to debug filters, and associated cleanup
  code/anim/animplay.cpp
  code/bmpman/bmpman.cpp
  code/cmdline/cmdline.cpp
  code/gamesnd/gamesnd.cpp
  code/graphics/generic.cpp
  code/graphics/opengl/gropenglshader.cpp
  code/graphics/opengl/gropengltexture.cpp
  code/lighting/lighting_profiles.cpp
  code/model/modelread.cpp
  code/scripting/api/libs/base.cpp
Labels: cleanup, scripting

#4759 add wing flags
  code/iff_defs/iff_defs.cpp
  code/mission/missionparse.cpp
  code/mission/missionparse.h
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/scripting/api/objs/parse_object.cpp
  code/scripting/api/objs/ship.cpp
  code/scripting/api/objs/wing.cpp
  code/ship/ship.cpp
  code/ship/ship.h
  code/ship/ship_flags.h
  fred2/sexp_tree.cpp
  fred2/sexp_tree.h
  qtfred/src/ui/widgets/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.h
Labels: enhancement, scripting

#4752 add arrival and departure info for wings, ships, and parse objects
  code/mission/missionparse.cpp
  code/mission/missionparse.h
  code/parse/parselo.h
  code/parse/sexp.cpp
  code/scripting/api/objs/parse_object.cpp
  code/scripting/api/objs/ship.cpp
  code/scripting/api/objs/wing.cpp
Labels: scripting, feature

#4769 get the credits music without starting it
  code/menuui/credits.cpp
Labels: cleanup, fix

#4756 Add Lua API for ship registry
  code/parse/sexp.cpp
  code/scripting/api/libs/mission.cpp
  code/scripting/api/objs/enums.cpp
  code/scripting/api/objs/enums.h
  code/scripting/api/objs/parse_object.cpp
  code/scripting/api/objs/ship_registry_entry.cpp
  code/scripting/api/objs/ship_registry_entry.h
  code/ship/ship.h
  code/source_groups.cmake
Labels: enhancement, scripting

#4774 fix updating of ui_timestamps
  code/mission/missionparse.cpp
  freespace2/freespace.cpp
Labels: fix, timer/timestamp

#4762 remove obsolete field
  code/object/object.cpp
  code/object/object.h
  code/parse/sexp.cpp
Labels: cleanup

#4779 Use a local int for model storage in renderTechModel
  code/scripting/api/objs/weaponclass.cpp
Labels: fix, scripting

#4781 collision fix
  code/object/collideshipship.cpp
Labels: cleanup, fix

#4776 add warp flash to ingame options
  code/cmdline/cmdline.cpp
  code/cmdline/cmdline.h
  code/fireball/fireballs.h
  code/fireball/warpineffect.cpp
Labels: enhancement, ui

#4782 model.Submodels fix
  code/scripting/api/objs/model.cpp
Labels: fix, scripting, models

#4773 apply team colors to all target view styles
  code/hud/hudtargetbox.cpp
Labels: fix

#4767 enhance ba.print and add ba.println
  code/scripting/ade.cpp
  code/scripting/api/libs/base.cpp
Labels: enhancement, scripting

#4784 Virtvar to access the energy a weapon consumes
  code/scripting/api/objs/weaponclass.cpp
Labels: enhancement, scripting

#4780 prevent duplicate flag names in the alter-ship-flag list
  fred2/sexp_tree.cpp
  qtfred/src/ui/widgets/sexp_tree.cpp
Labels: cleanup, qtfred, fred

#4790 1 Line fix for player view render check
  freespace2/freespace.cpp
Labels: fix

#4785 Update `$POF file Techroom:` Usage
  code/menuui/techmenu.cpp
  code/missionui/missionbrief.cpp
  code/missionui/missionshipchoice.cpp
  code/missionui/missionweaponchoice.cpp
  code/model/model.h
  code/model/modelread.cpp
Labels: enhancement, fix, Requested by Active Mod

#4788 fix makeShipArrive and makeWingArrive for reinforcements
  code/hud/hudsquadmsg.cpp
  code/mission/missionparse.cpp
Labels: fix, scripting, Requested by Active Mod

#4778 enable target info in hud_gauges.tbl
  code/asteroid/asteroid.cpp
  code/cmdline/cmdline.cpp
  code/cmdline/cmdline.h
  code/hud/hud.cpp
  code/hud/hud.h
  code/hud/hudbrackets.cpp
  code/hud/hudparse.cpp
  code/hud/hudtarget.cpp
Labels: enhancement, HUD

#4796 Add an update interval for client update packets
  code/network/multi.cpp
Labels: enhancement, multi

#4777 Enable hud rearm timer in hud_gauges.tbl
  code/cmdline/cmdline.cpp
  code/hud/hud.cpp
  code/hud/hud.h
  code/hud/hudparse.cpp
Labels: enhancement, HUD

#4797 Add a bunch of movement stats to ship class script api
  code/scripting/api/objs/shipclass.cpp
Labels: enhancement, scripting

#4775 Modular species table
  code/menuui/techmenu.cpp
  test/src/menuui/test_intel_parse.cpp
  test/test_data/menuui/intel_parse/always_techroom_values/data/tables/species.tbl
  test/test_data/menuui/intel_parse/invalid_end_new_line/data/tables/species.tbl
  test/test_data/menuui/intel_parse/invalid_end_same_line/data/tables/species.tbl
  test/test_data/menuui/intel_parse/missing_always_techroom/data/tables/species.tbl
  test/test_data/menuui/intel_parse/missing_anim/data/tables/species.tbl
  test/test_data/menuui/intel_parse/missing_description/data/tables/species.tbl
  test/test_data/menuui/intel_parse/missing_description_2/data/tables/species.tbl
  test/test_data/menuui/intel_parse/missing_end_multi_text/data/tables/species.tbl
  test/test_data/menuui/intel_parse/missing_entry/data/tables/species.tbl
  test/test_data/menuui/intel_parse/stray_hash_end/data/tables/species.tbl
  test/test_data/menuui/intel_parse/wrong_order/data/tables/species.tbl
Labels: enhancement, general modding

#4786 Additional Target Monitor features
  code/hud/hudparse.cpp
  code/hud/hudtargetbox.cpp
  code/hud/hudtargetbox.h
Labels: enhancement, HUD

#4789 music and training message timestamp conversion
  code/autopilot/autopilot.cpp
  code/gamesnd/eventmusic.cpp
  code/libs/discord/discord.cpp
  code/mission/missiontraining.cpp
  code/mission/missiontraining.h
  code/missionui/redalert.cpp
  code/parse/sexp.cpp
  code/scripting/api/libs/mission.cpp
Labels: cleanup, timer/timestamp

#4801 Allow writing to player mission specific stats
  code/scripting/api/objs/player.cpp
Labels: enhancement, scripting

#4787 create debris using script functions
  code/debris/debris.cpp
  code/debris/debris.h
  code/hud/hudtargetbox.cpp
  code/model/modelrender.cpp
  code/scripting/api/libs/mission.cpp
  code/scripting/api/objs/enums.cpp
  code/scripting/api/objs/enums.h
  code/scripting/lua/LuaConvert.cpp
  code/scripting/lua/LuaConvert.h
Labels: enhancement, scripting

#4805 Allow High Resolution Mode for SCPUI-only installations
  code/graphics/2d.cpp
Labels: fix, ui

#4814 handle debris model instances correctly when shadows are enabled
  code/graphics/shadows.cpp
Labels: fix

#4713 Modular POF Features
  code/globalincs/safe_strings.cpp
  code/globalincs/safe_strings.h
  code/model/model.h
  code/model/modelread.cpp
  code/model/modelreplace.cpp
  code/model/modelreplace.h
Labels: enhancement, models, Requested by Active Mod

#4808 translate key tokens in tips
  code/menuui/playermenu.cpp
  code/menuui/playermenu.h
  freespace2/freespace.cpp
Labels: enhancement, fix

#4704 upgrade texture animation code to use new timestamps
  code/globalincs/systemvars.cpp
  code/globalincs/systemvars.h
  code/mission/missionparse.cpp
  code/model/modelinterp.cpp
  code/model/modelrender.cpp
  code/model/modelrender.h
  code/parse/sexp.cpp
  code/ship/ship.cpp
  code/ship/ship.h
  code/starfield/starfield.cpp
  code/starfield/starfield.h
  freespace2/freespace.cpp
  freespace2/freespace.h
Labels: models, timer/timestamp

#4820 clean up stack when checking type
  code/scripting/lua/LuaConvert.cpp
  code/scripting/lua/LuaConvert.h
Labels: cleanup, fix, scripting

#4823 These old vars did something once, but not anymore
  code/globalincs/systemvars.cpp
  code/globalincs/systemvars.h
  code/graphics/material.cpp
  code/graphics/opengl/gropengltnl.cpp
Labels: cleanup

#4818 Allow adding custom head anis to the list in FRED
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  fred2/eventeditor.cpp
Labels: enhancement, fix, fred

#4827 asteroid field fix/refactor
  code/asteroid/asteroid.cpp
  code/asteroid/asteroid.h
  code/mission/missionparse.cpp
  fred2/asteroideditordlg.cpp
  fred2/fredview.cpp
  fred2/management.cpp
  fred2/missionsave.cpp
  qtfred/src/mission/Editor.cpp
  qtfred/src/mission/dialogs/AsteroidEditorDialogModel.cpp
  qtfred/src/mission/missionsave.cpp
Labels: cleanup, fix, qtfred, fred, refactor

#4490 Allow multilock between traitors
  code/weapon/weapons.cpp
Labels: fix, multi

#4825 remove misplaced int3() and allow the game to continue with -1
  code/missionui/missionshipchoice.cpp
Labels: fix

#4831 take non-autoscaling AI classes into account when autoscaling
  code/ai/ai.h
  code/ai/ai_flags.h
  code/ai/ai_profiles.cpp
  code/ai/aicode.cpp
  code/ai/aiturret.cpp
Labels: fix, ai

#4832 Add $On Camera Set Up hook
  freespace2/freespace.cpp
Labels: enhancement, scripting

#4833 Dont add whitespace for no_fred ships in the main list
  fred2/fredview.cpp
  fred2/mainfrm.cpp
  fred2/mainfrm.h
  fred2/management.cpp
Labels: cleanup, fred
