Repository scp-fs2open/fs2open.github.com, pull requests merged in 2024-04, with the labels that each got.

#6059 Multi Join API
  code/network/multiui.cpp
  code/network/multiui.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/multi_objects.cpp
  code/scripting/api/objs/multi_objects.h
Labels: enhancement, multi, ui, scripting

#6068 Multi Start Game UI API
  code/network/multiui.cpp
  code/network/multiui.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/enums.cpp
  code/scripting/api/objs/enums.h
Labels: enhancement, multi, ui, scripting

#6077 Multi sync API
  code/network/multiui.cpp
  code/network/multiui.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/enums.cpp
  code/scripting/api/objs/enums.h
  code/scripting/api/objs/multi_objects.cpp
  code/scripting/api/objs/multi_objects.h
Labels: enhancement, multi, ui, scripting

#6081 mission goal cheat fix
  code/mission/missiongoals.cpp
Labels: fix

#6080 more electrical arc API features
  code/scripting/api/objs/ship.cpp
Labels: enhancement, scripting

#6071 adjust ship registry checks to accommodate support ships
  code/mission/missionparse.cpp
Labels: fix

#6085 On loading complete hook
  code/scripting/global_hooks.cpp
  code/scripting/global_hooks.h
  freespace2/freespace.cpp
Labels: scripting

#6083 API for the Multi Pause UI
  code/network/multi_pause.cpp
  code/network/multi_pause.h
  code/scripting/api/libs/ui.cpp
Labels: enhancement, multi, ui, scripting

#6084 Multi dogfight debrief API
  code/network/multi_dogfight.cpp
  code/network/multi_dogfight.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/multi_objects.cpp
  code/scripting/api/objs/multi_objects.h
Labels: enhancement, multi, ui, scripting

#6078 Multi general api
  code/missionui/chatbox.cpp
  code/missionui/chatbox.h
  code/network/multiui.cpp
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/multi_objects.cpp
  code/scripting/api/objs/multi_objects.h
Labels: enhancement, multi, ui, scripting

#6082 Properly validate mission custom data keys
  fred2/customdatadlg.cpp
  fred2/customdatadlg.h
Labels: enhancement, multi, ui, scripting

#6088 fix deprecated/removed code in cutscene ffmpeg
  code/cutscene/ffmpeg/AudioDecoder.cpp
  code/cutscene/ffmpeg/FFMPEGDecoder.cpp
Labels: fix, library

#6025 add support for decompression of DDS textures
  code/bmpman/bmpman.cpp
  code/ddsutils/bcdec.h
  code/ddsutils/ddsutils.cpp
  code/ddsutils/ddsutils.h
  code/graphics/opengl/gropengl.cpp
  code/graphics/opengl/gropengltexture.cpp
Labels: enhancement, graphics, Requested by Active Mod

#6089 fix issues with get_text() and set_text() for INPUTBOX
  code/network/multiui.cpp
  code/ui/inputbox.cpp
  code/ui/ui.h
Labels: fix, ui

#6091 fix crash when chatbox message is all whitespace
  code/missionui/chatbox.cpp
Labels: fix, multi

#6039 add percent-ships-scanned
  code/parse/sexp.cpp
  code/parse/sexp.h
Labels: enhancement, sexps

#6058 add skybox alpha, and add scripted functions for alpha and orientation
  code/parse/sexp.cpp
  code/parse/sexp.h
  code/scripting/api/libs/mission.cpp
  code/starfield/starfield.cpp
  code/starfield/starfield.h
  qtfred/src/mission/Editor.cpp
Labels: enhancement, sexps, scripting, Requested by Active Mod

#6097 model range fix
  code/model/modelread.cpp
Labels: fix, models

#6098 Improve Mainhall Button Responsiveness
  code/menuui/mainhallmenu.cpp
Labels: enhancement

#6090 Misc Methods for SCPUI Multi
  code/missionui/missionscreencommon.h
  code/missionui/missionshipchoice.cpp
  code/network/multiteamselect.cpp
  code/network/multiteamselect.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/enums.cpp
  code/scripting/api/objs/enums.h
  code/scripting/api/objs/multi_objects.cpp
Labels: enhancement, multi, ui, scripting

#6096 Team Loadout API for SCPUI
  code/network/multiteamselect.cpp
  code/network/multiteamselect.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/shipwepselect.cpp
  code/scripting/api/objs/shipwepselect.h
Labels: enhancement, multi, ui, scripting

#6099 Ingame prejoin API
  code/network/multi_ingame.cpp
  code/network/multi_ingame.h
  code/scripting/api/libs/ui.cpp
  code/scripting/api/objs/multi_objects.cpp
  code/scripting/api/objs/multi_objects.h
Labels: enhancement, multi, ui, scripting

#6103 add 'In back of ship' arrival location
  code/mission/missionparse.cpp
  code/mission/missionparse.h
  fred2/missionsave.cpp
  qtfred/src/mission/missionsave.cpp
Labels: enhancement, gameplay

#6106 fix checkVisibility
  code/scripting/api/objs/ship.cpp
Labels: fix, scripting

#6104 convert arrival/departure locations to enum classes
  code/hud/hud.cpp
  code/mission/missionparse.cpp
  code/mission/missionparse.h
  code/parse/sexp.cpp
  code/scripting/api/libs/mission.cpp
  code/scripting/api/objs/parse_object.cpp
  code/scripting/api/objs/ship.cpp
  code/scripting/api/objs/wing.cpp
  code/scripting/hook_conditions.h
  code/ship/ship.cpp
  code/ship/ship.h
  fred2/fredview.cpp
  fred2/missionsave.cpp
  fred2/shipeditordlg.cpp
  fred2/wing_editor.cpp
  qtfred/src/mission/Editor.cpp
  qtfred/src/mission/dialogs/ShipEditorDialogModel.cpp
  qtfred/src/mission/dialogs/ShipEditorDialogModel.h
  qtfred/src/mission/missionsave.cpp
  qtfred/src/ui/dialogs/ShipEditorDialog.cpp
Labels: refactor

#6109 fix fighter beam FOV calculation
  code/network/multimsgs.cpp
  code/ship/ship.cpp
Labels: fix, general modding

#6095 Add flag for debris respecting big damage
  code/ai/ai_flags.h
  code/ai/ai_profiles.cpp
  code/object/collidedebrisship.cpp
Labels: enhancement, gameplay

#6079 add preliminary support for Windows ARM64
  cmake/globals.cmake
  cmake/toolchain-msvc.cmake
  code/globalincs/mspdb_callstack.cpp
  lib/discord/thirdparty/rapidjson/rapidjson.h
  lib/prebuilt.cmake
Labels: build

#6086 Allow for more field of fire cooldown shenanigans
  code/scripting/api/objs/ship_bank.cpp
  code/scripting/api/objs/weaponclass.cpp
  code/ship/ship.cpp
  code/weapon/weapons.cpp
Labels: enhancement, scripting

#6108 add flag to not show callsigns in escort list
  code/hud/hudescort.cpp
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
Labels: enhancement, HUD, Requested by Active Mod

#6093 fix bad node identification for certain SEXP errors
  code/parse/sexp.cpp
Labels: fix, sexps

#6110 Account for scripting when dealing with velocity
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/physics/physics.cpp
  code/physics/physics.h
  code/scripting/api/objs/physics_info.cpp
Labels: scripting, physics
