Repository scp-fs2open/fs2open.github.com, pull requests merged in 2025-08, with the labels that each got.

#6890 Allow mods to cap rotational velocity from collisions
  code/object/collideshipship.cpp
  code/physics/physics.cpp
  code/physics/physics.h
  code/ship/ship.cpp
  code/ship/ship.h
Labels: enhancement, cleanup

#6894 remove old os_sleep() hack for Mac
  code/osapi/osapi.cpp
Labels: cleanup, mac

#6895 fix mipmap resizing bug
  code/graphics/opengl/gropengltexture.cpp
Labels: fix, graphics, opengl

#6900 cleanup and fix issues with multi client data
  code/network/multi_interpolate.h
  code/network/multi_obj.cpp
Labels: cleanup, fix, multi

#6905 Another particle fix for standalones
  code/particle/ParticleSource.cpp
  code/particle/ParticleSource.h
Labels: bug, multi

#6903 Misc Lab Fixes
  code/ai/aicode.cpp
  code/ai/aigoals.h
  code/lab/dialogs/lab_ui.cpp
  code/lab/dialogs/lab_ui.h
  code/lab/manager/lab_manager.cpp
  code/lab/manager/lab_manager.h
Labels: fix, Lab

#6899 Show current detail level in the lab
  code/lab/manager/lab_manager.cpp
  code/lab/renderer/lab_renderer.cpp
  code/model/modelrender.cpp
  code/model/modelrender.h
Labels: enhancement, Lab

#6906 Custom Data for Campaigns
  code/mission/missioncampaign.cpp
  code/mission/missioncampaign.h
  code/scripting/api/libs/mission.cpp
  fred2/campaigneditordlg.cpp
  fred2/campaigneditordlg.h
  fred2/customdatadlg.cpp
  fred2/customdatadlg.h
  fred2/fred.rc
  fred2/missionnotesdlg.cpp
  fred2/missionsave.cpp
  qtfred/src/mission/missionsave.cpp
Labels: enhancement

#6912 Let the model decide if the apply was successful and should close
  qtfred/src/mission/util.cpp
Labels: cleanup, qtfred

#6915 fix cleanup of empty model.subsystems files
  code/model/modelread.cpp
Labels: fix

#6918 remove "safe" versions of FD_SET/FD_ISSET
  code/network/gtrack.cpp
  code/network/psnet2.cpp
  code/network/psnet2.h
  code/network/ptrack.cpp
  code/network/valid.cpp
Labels: fix, multi

#6919 Allow shockwave orientations to be relative to their parents
  code/ship/ship.cpp
  code/weapon/shockwave.cpp
  code/weapon/shockwave.h
  code/weapon/weapons.cpp
Labels: enhancement, fix

#6920 QTFred: Fix Ship editor Crash On selecting different ship types
  qtfred/src/mission/dialogs/ShipEditor/ShipEditorDialogModel.cpp
  qtfred/src/mission/dialogs/ShipEditor/ShipEditorDialogModel.h
Labels: fix, qtfred

#6916 fix series of bugs due to improper multi targeting
  code/network/multimsgs.cpp
  code/network/multimsgs.h
  code/ship/ship.cpp
  code/weapon/weapon.h
Labels: fix, multi

#6925 Fix/enhance skybox submodel rendering
  code/mod_table/mod_table.cpp
  code/mod_table/mod_table.h
  code/starfield/starfield.cpp
Labels: cleanup, fix

#6933 Qt fred misc bugs
  qtfred/src/main.cpp
  qtfred/src/ui/dialogs/LoadoutDialog.cpp
Labels: qtfred

#6930 Allow background option to completely work (VR useful)
  code/starfield/starfield.cpp
Labels: graphics, vr

#6926 Add 'Nebula Usage Score' curve input
  code/particle/ParticleEffect.h
Labels: enhancement, particles

#6943 fix end-mission sexp in multi
  code/network/multimsgs.cpp
  code/network/multimsgs.h
  code/parse/sexp.cpp
Labels: fix, multi

#6952 force proper ordering of joystick options
  code/io/joy-sdl.cpp
Labels: fix, ui

#6953 fix custom mouse cursors
  code/ui/button.cpp
Labels: fix, ui

#6955 remove extra config bind on joystick axes
  code/controlconfig/controlsconfig.cpp
Labels: fix

#6947 Add apparent size input for particle source curve
  code/particle/ParticleEffect.cpp
  code/particle/ParticleEffect.h
  code/particle/ParticleSource.cpp
  code/particle/ParticleSource.h
Labels: enhancement, particles

#6957 fix conversion of Missiontime to milliseconds
  code/parse/sexp.cpp
Labels: fix

#6944 Particle effect hooks for subsystem debris trails and debris explosions
  code/debris/debris.cpp
  code/model/model.h
  code/ship/ship.cpp
  code/ship/ship.h
  code/ship/shipfx.cpp
  code/ship/shipfx.h
Labels: enhancement, particles, Requested by Active Mod

#6956 QtFRED Mission Cutscenes Dialog
  code/mission/missionparse.h
  qtfred/source_groups.cmake
  qtfred/src/mission/dialogs/MissionCutscenesDialogModel.cpp
  qtfred/src/mission/dialogs/MissionCutscenesDialogModel.h
  qtfred/src/ui/FredView.cpp
  qtfred/src/ui/FredView.h
  qtfred/src/ui/dialogs/MissionCutscenesDialog.cpp
  qtfred/src/ui/dialogs/MissionCutscenesDialog.h
  qtfred/ui/FredView.ui
  qtfred/ui/MissionCutscenesDialog.ui
Labels: qtfred

#6960 Spare future modders
  code/model/modelread.cpp
Labels: cleanup, fix

#6964 fix memory access error with active games list
  code/network/multiui.cpp
Labels: fix, multi

#6937 Particle effect hooks for subsystem destruction
  code/model/model.h
  code/particle/ParticleSource.cpp
  code/ship/ship.cpp
  code/ship/ship.h
  code/ship/shipfx.cpp
  code/ship/shipfx.h
  code/ship/shiphit.cpp
Labels: enhancement, particles, Requested by Active Mod

#3973 update mdns to v1.4.3
  code/network/multi_mdns.cpp
  lib/mdns/CHANGELOG
  lib/mdns/CMakeLists.txt
  lib/mdns/README.md
  lib/mdns/mdns.c
  lib/mdns/mdns.h
Labels: multi, build

#6945 QtFRED Mission Specs Dialog
  code/mission/missionparse.cpp
  code/mission/missionparse.h
  code/sound/sound.h
  qtfred/resources/images/next.bmp
  qtfred/resources/images/play.bmp
  qtfred/resources/images/prev.bmp
  qtfred/resources/images/stop.bmp
  qtfred/resources/resources.qrc
  qtfred/source_groups.cmake
  qtfred/src/mission/dialogs/CustomWingNamesDialogModel.h
  qtfred/src/mission/dialogs/MissionSpecDialogModel.cpp
  qtfred/src/mission/dialogs/MissionSpecDialogModel.h
  qtfred/src/mission/dialogs/MissionSpecs/CustomDataDialogModel.cpp
  qtfred/src/mission/dialogs/MissionSpecs/CustomDataDialogModel.h
  qtfred/src/mission/dialogs/MissionSpecs/CustomStringsDialogModel.cpp
  qtfred/src/mission/dialogs/MissionSpecs/CustomStringsDialogModel.h
  qtfred/src/mission/dialogs/MissionSpecs/CustomWingNamesDialogModel.cpp
  qtfred/src/mission/dialogs/MissionSpecs/CustomWingNamesDialogModel.h
  qtfred/src/mission/dialogs/MissionSpecs/SoundEnvironmentDialogModel.cpp
  qtfred/src/mission/dialogs/MissionSpecs/SoundEnvironmentDialogModel.h
  qtfred/src/ui/dialogs/CustomWingNamesDialog.cpp
  qtfred/src/ui/dialogs/CustomWingNamesDialog.h
  qtfred/src/ui/dialogs/JumpNodeEditorDialog.cpp
  qtfred/src/ui/dialogs/MissionSpecDialog.cpp
  qtfred/src/ui/dialogs/MissionSpecDialog.h
  qtfred/src/ui/dialogs/MissionSpecs/CustomDataDialog.cpp
  qtfred/src/ui/dialogs/MissionSpecs/CustomDataDialog.h
  qtfred/src/ui/dialogs/MissionSpecs/CustomStringsDialog.cpp
  qtfred/src/ui/dialogs/MissionSpecs/CustomStringsDialog.h
  qtfred/src/ui/dialogs/MissionSpecs/CustomWingNamesDialog.cpp
  qtfred/src/ui/dialogs/MissionSpecs/CustomWingNamesDialog.h
  qtfred/src/ui/dialogs/MissionSpecs/SoundEnvironmentDialog.cpp
  qtfred/src/ui/dialogs/MissionSpecs/SoundEnvironmentDialog.h
  qtfred/ui/CustomDataDialog.ui
  qtfred/ui/CustomStringsDialog.ui
  qtfred/ui/CustomWingNamesDialog.ui
  qtfred/ui/MissionSpecDialog.ui
  qtfred/ui/SoundEnvironmentDialog.ui
Labels: qtfred

#6962 QtFRED Voice Acting Manager Dialog
  code/missioneditor/common.cpp
  code/missioneditor/common.h
  code/source_groups.cmake
  fred2/management.cpp
  fred2/management.h
  fred2/voiceactingmanager.cpp
  qtfred/source_groups.cmake
  qtfred/src/mission/dialogs/VoiceActingManagerModel.cpp
  qtfred/src/mission/dialogs/VoiceActingManagerModel.h
  qtfred/src/ui/dialogs/VoiceActingManager.cpp
  qtfred/src/ui/dialogs/VoiceActingManager.h
  qtfred/ui/VoiceActingManager.ui
Labels: qtfred

#6990 QtFRED Reinforcements Dialog
  qtfred/src/mission/dialogs/ReinforcementsEditorDialogModel.cpp
  qtfred/src/mission/dialogs/ReinforcementsEditorDialogModel.h
  qtfred/src/ui/dialogs/ReinforcementsEditorDialog.cpp
  qtfred/src/ui/dialogs/ReinforcementsEditorDialog.h
  qtfred/ui/ReinforcementsDialog.ui
Labels: qtfred

#6991 QtFRED Shield Sys Dialog
  qtfred/src/mission/Editor.cpp
  qtfred/src/mission/Editor.h
  qtfred/src/mission/dialogs/ShieldSystemDialogModel.cpp
  qtfred/src/mission/dialogs/ShieldSystemDialogModel.h
  qtfred/src/ui/dialogs/ShieldSystemDialog.cpp
  qtfred/src/ui/dialogs/ShieldSystemDialog.h
  qtfred/ui/ShieldSystemDialog.ui
Labels: qtfred

#6996 Fix a bug with `vm_interpolate_matrices`
  code/math/vecmat.cpp
Labels: fix

#6997 Don't bother doing the work to add weapon lights if deferred lighting is off
  code/object/object.cpp
Labels: cleanup, optimization

#7001 Fix new deferred check
  code/object/object.cpp
Labels: fix, graphics

#6999 Cockpit-specific light intensity adjustment for lighting profiles
  code/graphics/opengl/gropengldeferred.cpp
  code/graphics/opengl/gropengldeferred.h
  code/lighting/lighting_profiles.cpp
  code/lighting/lighting_profiles.h
Labels: enhancement, fix

#7006 fix some parse error handling
  code/parse/parselo.cpp
Labels: fix, general modding

#7008 add additional double quote conversion to FRED and qtFRED
  fred2/briefingeditordlg.cpp
  fred2/eventeditor.cpp
  fred2/initialstatus.cpp
  fred2/jumpnodedlg.cpp
  fred2/missiongoalsdlg.cpp
  fred2/missionsave.cpp
  fred2/shipeditordlg.cpp
  qtfred/src/mission/dialogs/JumpNodeEditorDialogModel.cpp
  qtfred/src/mission/dialogs/MissionGoalsDialogModel.cpp
  qtfred/src/mission/dialogs/ShipEditor/ShipEditorDialogModel.cpp
  qtfred/src/mission/dialogs/ShipEditor/ShipInitialStatusDialogModel.cpp
  qtfred/src/mission/missionsave.cpp
  qtfred/src/ui/dialogs/EventEditorDialog.cpp
Labels: fix, qtfred, fred

#7009 Fix Permanent Guardian
  code/mission/missionparse.h
Labels: fix

#7000 QtFRED Volumetric Nebula Dialog
  code/nebula/volumetrics.h
  qtfred/source_groups.cmake
  qtfred/src/mission/dialogs/MissionGoalsDialogModel.cpp
  qtfred/src/mission/dialogs/VolumetricNebulaDialogModel.cpp
  qtfred/src/mission/dialogs/VolumetricNebulaDialogModel.h
  qtfred/src/ui/FredView.cpp
  qtfred/src/ui/FredView.h
  qtfred/src/ui/dialogs/VolumetricNebulaDialog.cpp
  qtfred/src/ui/dialogs/VolumetricNebulaDialog.h
  qtfred/ui/FredView.ui
  qtfred/ui/VolumetricNebulaDialog.ui
Labels: qtfred
